- provide(:title, generate_title("Edit announcement"))
.container.j2-page
  = bootstrap_form_for(@announcement, url: {action: "update"}, method: "PATCH") do |f|
    .row
      .col-md-12
        = f.text_area :content, label: "Content"
    .row
      .col-md-6
        = f.url_field :link_href, label: "Link URL"
      .col-md-6
        = f.datetime_field :link_text, label: "Link text"
    .row
      .col-md-6
        = f.datetime_field :starts_at, label: "Start time"
      .col-md-6
        = f.datetime_field :ends_at, label: "End time"
    .row
      .col-md-12.text-right
        = f.submit class: "btn btn-primary"
