.container.j2-page
  = render 'user/settings_tabs'
  .col-md-9.col-xs-12.col-sm-9
    = render 'layouts/messages'
    .panel.panel-default
      .panel-body
        - if @services.count > 0
          Sharing is enabled for the following services:
        - else
          You have not connected any services yet.

        - APP_CONFIG['sharing'].each do |service, service_options|
          - if service_options['enabled'] and !@services.any? { |x| x.provider == service.to_s }
            %p=link_to "Connect to #{service.capitalize}", "/auth/#{service}"

      - if @services.count > 0
        %ul.list-group
          - @services.each do |service|
            %li.list-group-item
              %i{class: "fa fa-#{service.provider}"}
              %strong= service.provider.capitalize
              (#{service.nickname})
              = link_to 'Disconnect', service_path(service), data: { confirm: "Really disconnect service #{service.provider.capitalize}?" }, method: :delete