.d-flex.notification
  .flex-shrink-0.notification__icon
    %i.fa.fa-2x.fa-fw.fa-exclamation
  .flex-grow-1
    .notification__heading
      %img.avatar-xs{ src: notification.target.user.profile_picture.url(:small), loading: :lazy }
      = t(".heading_html",
          user: user_screen_name(notification.target.user),
          question: link_to(t(".link_text"), answer_path(username: notification.target.user.screen_name, id: notification.target.id)),
          time: time_tooltip(notification.target))
    .list-group
      .list-group-item
        %h6.notification__list-heading= t("activerecord.models.question.one")
        = markdown notification.target.question.content[0..60] + (notification.target.question.content.length > 60 ? '[...]' : '')
      .list-group-item
        %h6.notification__list-heading= t("activerecord.models.answer.one")
        = markdown notification.target.content[0..60] + (notification.target.content.length > 60 ? '[...]' : '')
