.d-flex.notification
  .flex-shrink-0.notification__icon
    %i.fa.fa-2x.fa-fw.fa-comments
  .flex-grow-1
    .notification__heading
      = render AvatarComponent.new(user: notification.target.user, size: "xs")
      - if notification.target.answer.user == current_user
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              answer: link_to(t(".active.link_text"),
                              answer_path(username: notification.target.user.screen_name,
                              id: notification.target.answer.id),
                              target: "_top"))
      - elsif notification.target.user == notification.target.answer.user
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              answer: link_to(t(".passive.link_text"),
                              answer_path(username: notification.target.user.screen_name,
                              id: notification.target.answer.id),
                              target: "_top"))
      - else
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              answer: link_to(t(".other.link_text_html",
                                user: user_screen_name(notification.target.answer.user, url: false)),
                                answer_path(username: notification.target.user.screen_name,
                                id: notification.target.answer.id),
                                target: "_top"))
      ·
      = time_tooltip(notification.target)
    .list-group
      .list-group-item
        %h6.notification__list-heading= t("activerecord.models.answer.one")
        = markdown notification.target.answer.content[0..60] + (notification.target.answer.content.length > 60 ? "[…]" : "")
      .list-group-item
        %h6.notification__list-heading= t("activerecord.models.comment.one")
        = markdown notification.target.content[0..60] + (notification.target.content.length > 60 ? "[…]" : "")
