.media.notification
  .notification__icon
    %i.fa.fa-2x.fa-fw.fa-comments
  .media-body
    .notification__heading
      %img.avatar-xs{ src: notification.target.user.profile_picture.url(:small) }
      - if notification.target.answer.user == current_user
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              answer: link_to(t(".active.link_text"), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)),
              time: time_tooltip(notification.target))
      - elsif notification.target.user == notification.target.answer.user
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              answer: link_to(t(".passive.link_text"), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)),
              time: time_tooltip(notification.target))
      - else
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              answer: link_to(t(".other.link_text_html", user: user_screen_name(notification.target.answer.user)), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)),
              time: time_tooltip(notification.target))
    .list-group
      .list-group-item
        .media.question-media
          .media-body
            %h6.notification__list-heading= t("activerecord.models.answer.one")
            = markdown notification.target.answer.content[0..60] + (notification.target.answer.content.length > 60 ? '[...]' : '')
      .list-group-item
        .media.question-media
          .media-body
            %h6.notification__list-heading= t("activerecord.models.comment.one")
            = markdown notification.target.content[0..60] + (notification.target.content.length > 60 ? '[...]' : '')
