.d-flex.notification
  .flex-shrink-0.notification__icon
    %i.fa.fa-2x.fa-fw.fa-smile-o
  .flex-grow-1
    .notification__heading
      = render AvatarComponent.new(user: notification.target.user, size: "xs")
      - if notification.target.parent_type == "Answer"
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              type: link_to(t(".#{notification.target.parent_type.downcase}.link_text"),
                              answer_path(username: notification.target.user.screen_name,
                              id: notification.target.parent.id),
                              target: "_top"),
              time: time_tooltip(notification.target))
      - elsif notification.target.parent_type == "Comment"
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              type: link_to(t(".#{notification.target.parent_type.downcase}.link_text"),
                              answer_path(username: notification.target.user.screen_name,
                              id: notification.target.parent.answer.id),
                              target: "_top"),
              time: time_tooltip(notification.target))
    .list-group
      .list-group-item
        %h6.notification__list-heading= t("activerecord.models.#{notification.target.parent_type.downcase}.one")
        = markdown notification.target.parent.content[0..60] + (notification.target.parent.content.length > 60 ? "[…]" : "")
