.media.notification
  .notification__icon
    %i.fa.fa-2x.fa-fw.fa-smile-o
  .media-body
    .notification__heading
      %img.avatar-xs{ src: notification.target.user.profile_picture.url(:small) }
      - if notification.target.parent_type == 'Answer'
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              type: link_to(t(".#{notification.target.parent_type.downcase}.link_text"), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.parent.id)),
              time: time_tooltip(notification.target))
      - elsif notification.target.parent_type == 'Comment'
        = t(".heading_html",
              user: user_screen_name(notification.target.user),
              type: link_to(t(".#{notification.target.parent_type.downcase}.link_text"), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.parent.answer.id)),
              time: time_tooltip(notification.target))
    .list-group
      .list-group-item
        .media.question-media
          .media-body
            %h6.notification__list-heading= t("activerecord.models.#{notification.target.parent_type.downcase}.one")
            = markdown notification.target.parent.content[0..60] + (notification.target.parent.content.length > 60 ? '[...]' : '')
