.pull-left
  %i.fa.fa-2x.fa-fw.fa-smile-o
.media-body
  .notification--heading
    %img.notification--img-sm{src: notification.target.user.profile_picture.url(:small)}
    = user_screen_name notification.target.user
    smiled
    = link_to "your answer", show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)
    = time_tooltip(notification.target)
    ago
  .list-group.notification--list
    .list-group-item
      .media.question-media
        .media-body
          %h6.notification--list-heading answer
          .notification--list-content
            = markdown notification.target.answer.content[0..60] + "#{notification.target.answer.content.length > 60 ? '[...]' : ''}"