- provide(:title, generate_title("Resend confirmation instructions"))
.container
  %h1 Resend confirmation instructions
  = bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    = f.text_field :screen_name, autofocus: true, label: "User name"
    = f.submit "Resend confirmation instructions"

  = render "devise/shared/links"
= render "shared/links"
