.container-lg.container--main
  .row.justify-content-center
    .col-md-5.totp-setup__recovery-container
      .card
        .card-body
          .d-none.d-print-block.totp-setup__recovery-icon
            %i.fa.fa-comments
          %h1.totp-setup__recovery-title= t(".heading", app_name: APP_CONFIG['site_name'])

          %ul.totp-setup__recovery-codes
            - @recovery_keys.each do |key|
              %li
                %code= key.code
          .d-none.d-print-block= t(".generated_at", time: l(Time.now))
        .card-footer.d-print-none
          = t(".recommendation")
          %br
          %a.btn{ onclick: "print()" }
            %i.fa.fa-print
            = t(".print")
        .d-none.d-print-block.text-success
          %i.fa.fa-tree
          = t(".consideration")
