- provide(:title, t('doorkeeper.authorizations.title.authorize', name: @pre_auth.client.name))
.container.j2-page
  .row
    .col-md-2
    .col-md-8
      .panel
        .panel-body#oautherize
          .app--profile
            .app--icon.clearfix
              %img.pull-left{src: @pre_auth.client.application.icon.url(:normal)}
              %h1.app--name
                = raw t('doorkeeper.authorizations.title.authorize', name: content_tag(:strong, @pre_auth.client.name))
              %h3.app--description
                = @pre_auth.client.application.description
                %br
                %small
                  = raw t('doorkeeper.authorizations.new.managed_by', name: user_screen_name(@pre_auth.client.application.owner))
          %p
            = raw t('doorkeeper.authorizations.new.able_to', name: content_tag(:strong, @pre_auth.client.name))
            %ul
              - @pre_auth.scopes.each do |scope|
                %li{class: "scope--#{scope}"}= t scope, scope: [:doorkeeper, :scopes]
          .row
            = render "button", method: :post, classname: "btn btn-primary btn-expand", text: t('doorkeeper.authorizations.buttons.authorize'), pre_auth: @pre_auth
            = render "button", method: :delete, classname: "btn btn-danger btn-expand", text: t('doorkeeper.authorizations.buttons.deny'), pre_auth: @pre_auth
    .col-md-2
