- current_ban = user.bans.current.first
.modal.fade#modal-ban{ aria: { hidden: true, labelledby: 'modal-ban-label' }, role: :dialog, tabindex: -1 }
  .modal-dialog
    .modal-content#ban-control-super
      .modal-header
        %h5.modal-title#modal-ban-label
          = t '.title'
        %button.close{ data: { dismiss: :modal }, type: :button }
          %span{ aria: { hidden: true } } ×
          %span.sr-only= t 'views.actions.close'
      = bootstrap_form_tag(url: '/mod/ban', html: { method: :post, novalidate: :novalidate }) do |f|
        = f.hidden_field :user, value: user.screen_name
        - if user.bans.count > 1
          %div{ role: :tabpanel }
            %ul.nav.nav-tabs.mt-1{ role: :tablist }
              %li.nav-item{ role: 'presentation' }
                %a.nav-link.active{ href: '#ban-controls-tab', aria: { controls: 'ban-controls-tab' }, data: { toggle: :tab }, role: :tab }
                  = t '.tabs.controls'
              %li.nav-item{ role: 'presentation' }
                %a.nav-link{ href: '#ban-history', aria: { controls: 'ban-history' }, data: { toggle: :tab }, role: :tab }
                  = t '.tabs.history'
          .tab-content
            .tab-pane.active{ role: :tabpanel, id: 'ban-controls-tab' }
              - if current_ban.nil?
                = render 'modal/ban/controls', f: f, user: user
              - else
                = render 'modal/ban/unban', f: f, user: user, current_ban: current_ban
            .tab-pane{ role: :tabpanel, id: 'ban-history' }
              = render 'modal/ban/history', user: user
        - else
          - if current_ban.nil?
            = render 'modal/ban/controls', f: f, user: user
          - else
            = render 'modal/ban/unban', f: f, user: user, current_ban: current_ban
