- case resource_name
  - when :user
    = render 'user/account'
  - else
    .container
      %h1 Edit #{resource_name.to_s.humanize}
      = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!

        = f.text_field :screen_name, autofocus: true, label: "User name"

        = f.email_field :email, label: "Email address"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}

        = f.password_field :password, autocomplete: "off", label: "Password", help: "Leave this blank if you don't want to change it"
        = f.password_field :password_confirmation, autocomplete: "off", label: "Confirm password"

        = f.password_field :current_password, autocomplete: "off", label: "Current password", help: "We need your current password to confirm your changes"

        = f.submit "Update"
      %p
        =button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm"

      = link_to "Back", :back
    = render 'shared/links'
