- provide(:title, generate_title(t(".title")))
.container
  .row
    .col-sm-8.offset-sm-2
      .card.mt-3
        .card-body
          %h1= t(".title")
          = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            = render "layouts/messages"

            = f.text_field :screen_name, autofocus: true
            = f.email_field :email, autofocus: false
            = f.password_field :password, autocomplete: :off
            = f.password_field :password_confirmation, autocomplete: :off

            - if APP_CONFIG.dig(:hcaptcha, :enabled)
              = hcaptcha_tags

            %p= raw t(".info", terms: link_to(t("voc.terms"), terms_path))
            = f.primary

          = render "devise/shared/links"
= render "shared/links"
