.container
  %h1 Sign up

  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    = f.text_field :screen_name, autofocus: true, label: "User name"
    = f.email_field :email, autofocus: false, label: "Email address"

    = f.password_field :password, autocomplete: "off", label: "Password"
    = f.password_field :password_confirmation, autocomplete: "off", label: "Confirm password"

    %p
      With signing up you accept our
      = link_to "Terms of Service", terms_path
    = f.submit "Sign up"

  = render "devise/shared/links"
= render 'shared/links'
