.dropdown-menu#rs-mobile-nav-profile
  %h6.dropdown-header.d-none.d-sm-block= current_user.screen_name
  %a.dropdown-item{ href: show_user_profile_path(current_user.screen_name) }
    %i.fa.fa-fw.fa-user
    = t("views.navigation.show")
  %a.dropdown-item{ href: edit_user_registration_path }
    %i.fa.fa-fw.fa-cog
    = t("views.navigation.settings")
  .dropdown-divider
  - if current_user.has_role?(:administrator)
    %a.dropdown-item{ href: rails_admin_path }
      %i.fa.fa-fw.fa-cogs
      = t("views.navigation.admin")
    %a.dropdown-item{ href: sidekiq_web_path }
      %i.fa.fa-fw.fa-bar-chart
      = t("views.navigation.sidekiq")
    %a.dropdown-item{ href: pghero_path }
      %i.fa.fa-fw.fa-database
      Database Monitor
    %a.dropdown-item{ href: announcement_index_path }
      %i.fa.fa-fw.fa-info
      Announcements
    .dropdown-divider
  - if current_user.mod?
    %a.dropdown-item{ href: moderation_path }
      %i.fa.fa-fw.fa-gavel
      = t("views.navigation.moderation")
    .dropdown-divider
  - if APP_CONFIG["canny"]
    %h6.dropdown-header.d-none.d-sm-block Feedback
    %a.dropdown-item{ href: feedback_bugs_path }
      %i.fa.fa-fw.fa-bug
      Bugs
    %a.dropdown-item{ href: feedback_features_path }
      %i.fa.fa-fw.fa-flask
      Feature Requests
    .dropdown-divider
  = button_to destroy_user_session_path, method: "delete", class: "dropdown-item" do
    %i.fa.fa-fw.fa-sign-out
    = t("views.sessions.destroy")
