.card
  .card-body
    = bootstrap_form_for(current_user, url: settings_profile_picture_path, html: { multipart: true }, method: :patch, data: { turbo: false }) do |f|

      .media#profile-picture-media
        .pull-left
          %img.avatar-lg.mr-3{ src: current_user.profile_picture.url(:medium) }
        .media-body
          = f.file_field :profile_picture, accept: APP_CONFIG[:accepted_image_formats].join(",")

      .row.d-none#profile-picture-crop-controls
        .col-sm-10.col-md-8
          %strong= t(".adjust.profile_picture")
          %img#profile-picture-cropper{ src: current_user.profile_picture.url(:medium) }

      .row.mb-2#profile-header-media
        .col
          %img.mw-100.mr-3{ src: current_user.profile_header.url(:mobile) }
        .col-xs-12.mt-3.mt-sm-0.pl-3.pr-3
          = f.file_field :profile_header, accept: APP_CONFIG[:accepted_image_formats].join(",")

      .row.d-none#profile-header-crop-controls
        .col-sm-10.col-md-8
          %strong= t(".adjust.profile_header")
          %img#profile-header-cropper{ src: current_user.profile_header.url(:web) }

      = f.check_box :show_foreign_themes

      - %i[profile_picture_x profile_picture_y profile_picture_w profile_picture_h].each do |attrib|
        = f.hidden_field attrib, id: attrib

      - %i[profile_header_x profile_header_y profile_header_w profile_header_h].each do |attrib|
        = f.hidden_field attrib, id: attrib

      = f.primary
.card
  .card-body
    = bootstrap_form_for(current_user.profile, html: { multipart: true }, method: :patch, data: { turbo: false }) do |f|

      = f.text_field :display_name, autocomplete: :name

      = f.text_field :motivation_header

      = f.text_field :anon_display_name, placeholder: APP_CONFIG["anonymous_name"], autocomplete: :off

      = f.url_field :website, autocomplete: :url

      = f.text_field :location, autocomplete: "address-level2"

      = f.text_area :description

      = f.primary

- provide(:title, generate_title(t(".title")))
- parent_layout "user/settings"
