.card
  .card-body
    %h2= t(".section.blocks.heading")
    %p= t(".section.blocks.body")
    %ul.list-group
      - @blocks.each do |block|
        %li.list-group-item
          .d-flex
            = render AvatarComponent.new(user: block.target, size: "md", classes: ["d-none", "d-sm-inline", "me-2"])
            %div
              %p.mb-0= user_screen_name(block.target)
              %p.text-muted.mb-0= t(".blocked", time: time_ago_in_words(block.created_at))
            .ms-auto.d-inline-flex
              %button.btn.btn-default.align-self-center{ data: { action: :unblock, target: block.target.screen_name } }
                %span.pe-none= t("voc.unblock")

      - if @blocks.empty?
        %p.text-muted.text-center= t(".none")
.card
  .card-body
    %h2= t(".section.anon_blocks.heading")
    %p= t(".section.anon_blocks.body")
    %ul.list-group
      - @anonymous_blocks.each do |block|
        = render "shared/anonymous_block", block:

      - if @anonymous_blocks.empty?
        %p.text-muted.text-center= t(".none")

- provide(:title, generate_title(t(".title")))
- parent_layout "user/settings"
