- provide(:title, generate_title("Unlock"))
.container
  %h1 Resend unlock instructions
  = render 'layouts/messages'

  = bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    = f.email_field :email, autofocus: true, label: "Email address"

    = f.submit "Resend unlock instructions"

  = render "devise/shared/links"
= render "shared/links"
