- path ||= doorkeeper_submit_path(application)
= bootstrap_form_for application, url: path, :html => { :multipart => true, class: :mogrify_doorkeeper_application }, method: :post do |f|
  - if application.errors.any?
    .alert.alert-danger{data: { alert: true }}
      %p= t('doorkeeper.applications.form.error')
  = f.text_field :name
  = f.text_field :description
  = f.text_field :homepage
  = f.text_area :redirect_uri
  %span.help-block= t('doorkeeper.applications.help.redirect_uri')
  - if Doorkeeper.configuration.native_redirect_uri
    %span.help-block= raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: "<code>#{ Doorkeeper.configuration.native_redirect_uri }</code>")
  .form-group{class: if application.errors.include? :scopes then "has-error" end}
    = f.label t("doorkeeper.applications.optional_scopes"), class: "control-label"
    = f.hidden_field :scopes
    .help-block
      = doorkeeper_errors_for application, :scopes
    .checkbox
      -# DO NOT LOCALIZE SCOPE NAMES
      %label.doorkeeper_application_scopes.control-label
        = check_box_tag 'scopes', :write, !application.scopes.all.index("write").nil?
        Write
    .checkbox
      %label.doorkeeper_application_scopes.control-label
        = check_box_tag 'scopes', :rewrite, !application.scopes.all.index("rewrite").nil?
        Rewrite
    .checkbox
      %label.doorkeeper_application_scopes.control-label
        = check_box_tag 'scopes', :moderation, !application.scopes.all.index("moderation").nil?
        Moderation
  .form-group
    .media#app-icon-media
      .pull-left
        %img.img-rounded.app--icon{src: application.icon.url(:normal)}
      .media-body
        = f.file_field :icon
  #app-icon-crop-controls{style: 'display: none;'}
    .row
      .col-12
        %strong= t("doorkeeper.applications.icon")
        %img#app-icon-cropper{src: application.icon.url(:normal)}
    .row
      .col-12
        .btn-group
          %button#cropper-app-icon-zoom-out.btn.btn-inverse{type: :button}
            %i.fa.fa-search-minus
          %button#cropper-app-icon-zoom-in.btn.btn-inverse{type: :button}
            %i.fa.fa-search-plus
  - for attrib in %i(crop_x crop_y crop_w crop_h)
    = f.hidden_field attrib, id: attrib
  .form-group
    = f.primary t('doorkeeper.applications.buttons.submit')
    = f.button t('doorkeeper.applications.buttons.cancel'), html: { data: { url: oauth_applications_path } }, :class => "btn btn-danger"
