= provide(:title, t("doorkeeper.applications.title.view", name: @application.name))
- content_for :head do
  = javascript_include_tag 'metrics', 'data-turbolinks-track' => true
  = stylesheet_link_tag    'metrics', media: 'all', 'data-turbolinks-track' => true
.row.app--secret-details
  .col-md-8.app--details
    = render "doorkeeper/shared/app", application: @application
    .app--clear
      %h4= t('.application_id')
      %p
        %code.app--id= @application.uid
      %h4= t('.secret')
      %p
        %code.app--secret= @application.secret
      %h4= t('.scopes')
      %p
        %code.app--scopes= @application.scopes.all.join(", ")
      %h4= t('.callback_urls')
      %table.table.table-hover
        %thead
          %tr
            %td
              =t(".uri")
            %td
              -# =t(".actions")
        %tbody
          - @application.redirect_uri.split.each do |uri|
            %tr
              %td
                %code= uri
              %td
                %a.btn.btn-warning.btn-expand{href: oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scopes: @application.scopes)}= t('doorkeeper.applications.buttons.authorize')
      - if APP_CONFIG["api"]["metrics"]
        %h4= t('.metrics')
        %div{data: {metrics: metrics_oauth_application_path(id: @application.id)}}
  .col-md-4.app--actions
    %h1= t('.actions')
    %p
      %a.btn.btn-primary.btn-expand{href: edit_oauth_application_path(@application)}= t('doorkeeper.applications.buttons.edit')
    %p
      %a.btn.btn-warning.btn-expand{href: regen_oauth_application_path(@application)}= t('doorkeeper.applications.buttons.regen')
    %p
      =render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger btn-expand'
