.card.inbox-entry{ id: "inbox_#{i.id}", class: i.new? ? "inbox-entry--new" : "", data: { id: i.id } }
  .card-header
    .d-flex
      - unless i.question.author_is_anonymous
        .flex-shrink-0
          %a.pull-left{ href: user_path(i.question.user) }
            %img.answerbox__question-user-avatar.avatar-md{ src: i.question.user.profile_picture.url(:small), loading: :lazy }
      .flex-grow-1
        %h6.text-muted.answerbox__question-user
          - if i.question.author_is_anonymous
            %i.fas.fa-user-secret{ title: t('.anon_hint') }
          = t(".asked_html", user: user_screen_name(i.question.user, context_user: i.user, author_identifier: i.question.author_is_anonymous ? i.question.author_identifier : nil), time: time_tooltip(i.question))
          - if !i.question.author_is_anonymous && i.question.answer_count.positive?
            ·
            %a{ href: question_path(i.question.user.screen_name, i.question.id) }
              = t(".answers", count: i.question.answer_count)
        .answerbox__question-body{ data: { controller: i.question.long? ? "collapse" : nil } }
          .answerbox__question-text{ class: i.question.long? ? "collapsed" : "", data: { collapse_target: "content" } }
            = question_markdown i.question.content
          - if i.question.long?
            = render "shared/collapse", type: "question"
      - if i.question.user_id != current_user.id || current_user.has_cached_role?(:administrator)
        .flex-shrink-0.ms-auto
          .btn-group
            %button.btn.btn-default.btn-sm.dropdown-toggle{ data: { bs_toggle: :dropdown }, aria: { expanded: false } }
              %span.caret
            = render "actions/question", question: i.question
  - if current_user == i.user
    .card-body
      %textarea.form-control.mb-3{ name: "ib-answer", placeholder: t(".placeholder"), data: { id: i.id } }
      .d-sm-flex
        %button.btn.btn-success.me-sm-1{ name: "ib-answer", data: { ib_id: i.id } }
          = t("voc.answer")
        %button.btn.btn-danger.me-sm-1{ name: "ib-destroy", data: { ib_id: i.id } }
          = t("voc.delete")
        %p.format-help.ms-auto.align-self-center.mt-2.mt-sm-0.text-center
          = render "shared/format_link"
    - if current_user.sharing_enabled
      .inbox-entry__sharing.text-center.p-2.justify-content-center.d-none{
        data: { controller: "inbox-sharing", inbox_sharing_config_value: "{}", inbox_sharing_auto_close_value: current_user.sharing_autoclose.to_s } }
        %button.btn-close.inbox-entry__close{ data: { action: "inbox-sharing#close" } }
          %span.visually-hidden= t("voc.close")
        .align-self-center
          %p.fs-3.fw-bold= t(".sharing.heading")
          %p
            %a.btn.btn-primary{ href: "https://twitter.com/intent/tweet?text=", data: { inbox_sharing_target: "twitter" }, target: "_blank" }
              %i.fab.fa-twitter.fa-fw
              Twitter
            %a.btn.btn-primary{ href: "#", data: { inbox_sharing_target: "tumblr" }, target: "_blank" }
              %i.fab.fa-tumblr.fa-fw
              Tumblr
            %a.btn.btn-primary{ href: "#", data: { inbox_sharing_target: "telegram" }, target: "_blank" }
              %i.fab.fa-telegram.fa-fw
              Telegram
            - if current_user.sharing_custom_url.present?
              %a.btn.btn-primary{ href: current_user.sharing_custom_url, data: { inbox_sharing_target: "custom" }, target: "_blank" }
                = current_user.display_sharing_custom_url
          %p.text-muted= t(".sharing.hint_html", settings: link_to(t(".sharing.settings"), settings_sharing_path))
