.panel.panel-default.inbox--panel
  .panel-heading
    %h3.panel-title= t 'views.inbox.sidebar.questions.title'
  .panel-body
    %button.btn.btn-block.btn-info{type: :button, id: 'ib-generate-question'}= t 'views.inbox.sidebar.questions.button'
.panel.panel-default.inbox--panel
  .panel-heading
    %h3.panel-title= t 'views.inbox.sidebar.share.title'
  .panel-body
    %a.btn.btn-block.btn-primary{target: '_blank', href: "https://twitter.com/intent/tweet?text=Ask%20me%20anything%21&url=#{show_user_profile_url(current_user.screen_name)}"}
      %i.fa.fa-fw.fa-twitter
      = raw t('views.inbox.sidebar.share.button', service: "Twitter")
    %a.btn.btn-block.btn-primary{target: '_blank', href: "http://www.tumblr.com/share/link?url=#{show_user_profile_url(current_user.screen_name)}&name=Ask%20me%20anything%21"}
      %i.fa.fa-fw.fa-tumblr
      = raw t('views.inbox.sidebar.share.button', service: "Tumblr")
.panel.panel-default.inbox--panel
  .panel-heading
    %h3.panel-title Show author
  .panel-body
    %form#author_form
      = bootstrap_form_tag url: inbox_path, method: :get do |f|
        = f.text_field :author, value: params[:author], placeholder: "username", prepend: "@" , hide_label: true
        = f.button "Show", name: nil, class: "btn btn-default btn-block btn-sm", id: "ib-author"
.panel.panel-default.warning--panel
  .panel-heading
    %h3.panel-title= t 'views.inbox.sidebar.actions.title'
  .panel-body
    %button.btn.btn-block.btn-danger{type: :button, id: @delete_id , disabled: (@disabled ? 'disabled' : nil), data: { ib_count: @inbox_count }}= t 'views.inbox.sidebar.actions.button'

