.card
  .card-header= t(".questions.heading")
  .card-body
    %button.btn.btn-block.btn-info{ type: :button, id: "ib-generate-question" }= t(".questions.button")
.card
  .card-header= t(".share.heading")
  .card-body
    %a.btn.btn-block.btn-primary{ target: "_blank",
      href: "https://twitter.com/intent/tweet?text=Ask%20me%20anything%21&url=#{show_user_profile_url(current_user.screen_name)}" }
      %i.fa.fa-fw.fa-twitter
      = t(".share.button", service: "Twitter")
    %a.btn.btn-block.btn-primary{ target: "_blank",
      href: "https://www.tumblr.com/share/link?url=#{show_user_profile_url(current_user.screen_name)}&name=Ask%20me%20anything%21" }
      %i.fa.fa-fw.fa-tumblr
      = t(".share.button", service: "Tumblr")
.card
  .card-header= t(".author.heading")
  .card-body
    %form#author-form
      = bootstrap_form_tag url: inbox_path, method: :get do |f|
        = f.text_field :author, value: params[:author], placeholder: t(".author.placeholder"), prepend: "@", hide_label: true
        = f.button t(".author.button"), name: nil, class: "btn btn-light btn-block btn-sm", id: "ib-author"
.card
  .card-header= t(".actions.heading")
  .card-body
    %button.btn.btn-block.btn-danger{ type: :button, id: delete_id, disabled: (disabled ? :disabled : nil), data: { ib_count: inbox_count } }
      = t(".actions.delete")
