.container.j2-page
  = render 'layouts/messages'
  - @inbox.each do |i|
    .panel.inbox-box{'data-id' => i.id, class: "panel-#{i.new? ? 'primary' : 'default'}" }
      .panel-heading
        .media
          - unless i.question.author_is_anonymous
            %a.pull-left{href: show_user_profile_path(i.question.user.screen_name)}
              %img.img-rounded.img-answerbox{src: gravatar_url(i.question.user)}
          .media-body
            %h6.text-muted.media-heading.answerbox-question-user= user_screen_name i.question.user, i.question.author_is_anonymous
            %p.answerbox-question-text= i.question.content
            %p.timestamp
              asked
              = time_ago_in_words(i.question.created_at)
              ago
      .panel-body
        %textarea.form-control{name: 'ib-answer', 'data-id' => i.id}
        %br/
        %button.btn.btn-success{name: 'ib-answer', 'data-ib-id' => i.id}
          Answer
        %button.btn.btn-danger{name: 'ib-destroy', 'data-ib-id' => i.id}
          Delete

  - if @inbox.empty?

    Nothing to see here.

= render "shared/links"