.col-md-3.col-xs-12.col-sm-3
  .panel.panel-default.hidden-xs
    .panel-body
      %ul.nav.nav-pills.nav-stacked
        = nav_entry "All notifications", notifications_path
        = nav_entry "Answers", notifications_path('answer')
        = nav_entry "Smiles", notifications_path('smile')
        = nav_entry "Comments", notifications_path('comment')
        = nav_entry "Followers", notifications_path('relationship')