.col-md-3.col-xs-12.col-sm-3
  .panel.panel-default
    .panel-body
      %ul.nav.nav-pills.nav-stacked
        = nav_entry "All notifications", ""
        = nav_entry "Answers", ""
        = nav_entry "Likes", ""
        = nav_entry "Comments", ""
        = nav_entry "Followers", ""