%li.list-group-item{class: (notification.new? ? 'list-group-item-warning' : '')}
  .media
    - case notification.target_type
      - when "Answer"
        .pull-left
          %img.img-rounded.notification--img{src: gravatar_url(notification.target.user)}
        .media-body
          %h6.media-heading.notification--user
            = user_screen_name notification.target.user
          %p.notification--text
            = raw t('views.notifications.answer.body', question: link_to(t('views.notifications.answer.question'), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.id)), time: time_tooltip(notification.target))
          .notification--icon
            %i.fa.fa-exclamation
      - when "Relationship"
        .pull-left
          %img.img-rounded.notification--img{src: gravatar_url(notification.target.source)}
        .media-body
          %h6.media-heading.notification--user
            = user_screen_name notification.target.source
          %p.notification--text
            = raw t('views.notifications.relationship.body', time: time_tooltip(notification.target))
          .notification--icon
            %i.fa.fa-users
      - when "Smile"
        .pull-left
          %img.img-rounded.notification--img{src: gravatar_url(notification.target.user)}
        .media-body
          %h6.media-heading.notification--user
            = user_screen_name notification.target.user
          %p.notification--text
            = raw t('views.notifications.smile.body', content: link_to(t('views.notifications.smile.answer'), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)), time: time_tooltip(notification.target))
          .notification--icon
            %i.fa.fa-smile-o
      - when "CommentSmile"
        .pull-left
          %img.img-rounded.notification--img{src: gravatar_url(notification.target.user)}
        .media-body
          %h6.media-heading.notification--user
            = user_screen_name notification.target.user
          %p.notification--text
            = raw t('views.notifications.smile.body', content: link_to(t('views.notifications.smile.comment'), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.comment.answer.id)), time: time_tooltip(notification.target))
          .notification--icon
            %i.fa.fa-smile-o
      - when "Comment"
        .pull-left
          %img.img-rounded.notification--img{src: gravatar_url(notification.target.user)}
        .media-body
          %h6.media-heading.notification--user
            = user_screen_name notification.target.user
          %p.notification--text
            - if notification.target.answer.user == current_user
              = raw t('views.notifications.comment.body', content: link_to(t('views.notifications.comment.your', user: user_screen_name(current_user, false, false)), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)), time: time_tooltip(notification.target))
            - elsif notification.target.user == notification.target.answer.user
              = raw t('views.notifications.comment.body', content: link_to(t('views.notifications.comment.their', user: user_screen_name(notification.target.answer.user, false, false)), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)), time: time_tooltip(notification.target))
            - else
              = raw t('views.notifications.comment.body', content: link_to(t('views.notifications.comment.user', user: user_screen_name(notification.target.answer.user, false, false)), show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)), time: time_tooltip(notification.target))
          .notification--icon
            %i.fa.fa-comments
