.dropdown-menu.dropdown-menu-end{ role: :menu }
  %a.dropdown-item{ href: "#", data: { bs_target: "#modal-view-comment#{comment.id}-smiles", bs_toggle: :modal } }
    %i.fa.fa-fw.fa-smile-o
    = t(".view_smiles")
  - if privileged?(comment.user) || privileged?(answer.user)
    %a.dropdown-item.text-danger{ href: "#", data: { action: "ab-comment-destroy", c_id: comment.id } }
      %i.fa.fa-fw.fa-trash-o
      = t("voc.delete")
  - if user_signed_in? && comment.user != current_user
    %a.dropdown-item{ href: "#", data: { action: "ab-comment-report", c_id: comment.id } }
      %i.fa.fa-fw.fa-exclamation-triangle
      = t("voc.report")
  - if user_signed_in? && current_user&.admin?
    %a.dropdown-item{ href: rails_admin_path_for_resource(comment), target: "_blank" }
      %i.fa.fa-fw.fa-gears
      = t("voc.view_in_rails_admin")
