- provide(:title, question_title(@question))
= render 'shared/question_header', question: @question, hidden: false
= render 'shared/question_header', question: @question, hidden: true
.container.question-page
  / TODO: make this pretty (it's currently C-c'd straight from shared/_answerbox)

  #answers
    - @answers.each do |a|
      = render 'shared/answerbox', a: a, show_question: false

  #pagination= will_paginate @answers, renderer: BootstrapPagination::Rails, page_links: false

  - if @answers.next_page
    %button#load-more-btn.btn.btn-default{type: :button, data: { current_page: @answers.current_page }}
      Load more

  - if user_signed_in? and !current_user.answered? @question and current_user != @question.user and @question.user.privacy_allow_stranger_answers
    .panel.panel-default#q-answer-box
      .panel-heading
        %h3.panel-title This question was not in your inbox? Answer it here!
      .panel-body
        %textarea#q-answer.form-control{placeholder: 'Write your answer here...', data: { id: @question.id }}
        %br/
        %button#q-answer.btn.btn-success{data: { q_id: @question.id }}
          Answer
        - current_user.services.each do |service|
          %label
            %input{type: 'checkbox', name: 'share', checked: :checked, data: { q_id: @question.id, service: service.provider }}
            Post to
            = service.provider.capitalize
