%li.list-group-item{ id: "block_#{block.id}" }
  .d-flex
    %div
      - if block.question.present?
        %p.mb-0= block.question.content
      - else
        %p.mb-0.text-muted.font-italic= t(".deleted_question")
      %p.text-muted.mb-0= t(".blocked", time: time_ago_in_words(block.created_at))
    .ms-auto.d-inline-flex
      = button_to anonymous_block_path, method: :delete, params: { id: block.id }, class: "btn btn-default align-self-center" do
        %span.pe-none= t("voc.unblock")
