.panel.panel-default.answer-box{'data-id' => a.id}
  .panel-heading
    .media
      - unless a.question.author_is_anonymous
        %a.pull-left{href: show_user_profile_path(a.question.user.screen_name)}
          %img.img-rounded.img-answerbox{src: gravatar_url(a.question.user)}
      .media-body
        %h6.text-muted.media-heading.answerbox-question-user
          = user_screen_name a.question.user, a.question.author_is_anonymous
          asked
          = time_ago_in_words(a.question.created_at)
          ago
        %p.answerbox-question-text= a.question.content
  .panel-body
    %p= a.content
    .row
      - if @user.nil?
        .col-md-6.col-sm-4.col-xs-7.text-left.text-muted
          Answered by
          %a{href: show_user_profile_path(a.user.screen_name)}
            %img.img-rounded.img-answerbox-small{src: gravatar_url(a.user)}
            %span= a.user.screen_name
          %span= time_ago_in_words(a.created_at)
          ago
      .col-md-6.col-sm-8.col-xs-5.text-right
        %span.hidden-xs.text-muted
          %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
          users smiled this
        - if user_signed_in?
          - if current_user.smiled? a
            %button.btn.btn-info.btn-sm{type: :button, name: 'ab-smile', 'data-a-id' => a.id, 'data-action' => 'unsmile'}
              %i.fa.fa-frown-o
          - else
            %button.btn.btn-info.btn-sm{type: :button, name: 'ab-smile', 'data-a-id' => a.id, 'data-action' => 'smile'}
              %i.fa.fa-smile-o
        %a.btn.btn-primary.btn-sm
          %i.fa.fa-comments
        - if privileged? a.user
          %button.btn.btn-danger.btn-sm{name: 'ab-destroy', 'data-a-id' => a.id}
            %i.fa.fa-trash-o