.panel.panel-default.answerbox{data: { id: a.id }}
  - if @question.nil?
    .panel-heading
      .media
        - unless a.question.author_is_anonymous
          %a.pull-left{href: show_user_profile_path(a.question.user.screen_name)}
            %img.img-rounded.answerbox--img{src: gravatar_url(a.question.user)}
        .media-body
          %h6.text-muted.media-heading.answerbox--question-user
            = user_screen_name a.question.user, a.question.author_is_anonymous
            asked
            %a{href: show_user_answer_path(a.user.screen_name, a.id)}
              = time_ago_in_words(a.question.created_at)
              ago
            - unless a.question.author_is_anonymous
              - if a.question.answer_count > 1
                ·
                %a{href: show_user_question_path(a.question.user.screen_name, a.question.id)}
                  #{a.question.answer_count} answers
          %p.answerbox--question-text
            = a.question.content
  .panel-body
    %p
      - if @display_all.nil?
        = a.content[0..255]
        - if a.content.length > 255
          [...]
          %p
            %a.btn.btn-primary{href: show_user_answer_path(a.user.screen_name, a.id)}
              Read the entire answer
      - else
        = a.content
    - if @user.nil?
      .row
        .col-md-6.col-sm-4.col-xs-7.text-left.text-muted
          Answered by
          %a{href: show_user_profile_path(a.user.screen_name)}
            %img.img-rounded.answerbox--img-small{src: gravatar_url(a.user)}
            %span= a.user.screen_name
          %span= time_ago_in_words(a.created_at)
          ago
        .col-md-6.col-sm-8.col-xs-5.text-right
          = render 'shared/answerbox_buttons', a: a
    - else
      .row
        .col-md-6.col-md-offset-6.col-sm-8.col-sm-offset-4.col-xs-6.col-xs-offset-6.text-right
          = render 'shared/answerbox_buttons', a: a
  .panel-footer{id: "ab-comments-#{a.id}", style: 'display: none'}
    = render 'shared/comments', a: a
