.panel.panel-default.answerbox{data: { id: a.id, q_id: a.question.id }}
  - if @question.nil?
    .panel-heading
      .media.question-media
        - unless a.question.author_is_anonymous
          %a.pull-left{href: show_user_profile_path(a.question.user.screen_name)}
            %img.img-rounded.answerbox--img{src: gravatar_url(a.question.user)}
        .media-body.question-body
          - if user_signed_in?
            .pull-right
              .btn-group
                %button.btn.btn-link.btn-sm.dropdown-toggle{data: { toggle: :dropdown }, aria: { expanded: :false }}
                  %span.caret
                %ul.dropdown-menu.dropdown-menu-right{role: :menu}
                  - if current_user.mod? or a.question.user == current_user
                    %li.text-danger
                      %a{href: '#', tabindex: -1, data: { action: 'ab-question-destroy', q_id: a.question.id }}
                        %i.fa.fa-trash-o
                        = t 'views.actions.delete'
                  - unless a.question.user == current_user
                    %li
                      %a{href: '#', tabindex: -1, data: { action: 'ab-question-report', q_id: a.question.id }}
                        %i.fa.fa-exclamation-triangle
                        = t 'views.actions.report'
          %h6.text-muted.media-heading.answerbox--question-user
            = raw t('views.answerbox.asked', user: user_screen_name(a.question.user, a.question.author_is_anonymous), time: time_tooltip(a.question))
            - unless a.question.author_is_anonymous
              - if a.question.answer_count > 1
                ·
                %a{href: show_user_question_path(a.question.user.screen_name, a.question.id)}
                  = pluralize(a.question.answer_count, t('views.general.answer'))
          .answerbox--question-text
            = a.question.content
  .panel-body
    - if @display_all.nil?
      .answerbox--answer-text
        = markdown a.content[0..255]
        - if a.content.length > 255
          [...]
          %p
            %a.btn.btn-primary{href: show_user_answer_path(a.user.screen_name, a.id)}
              = t 'views.answerbox.read'
    - else
      .answerbox--answer-text
        = markdown a.content
    - if @user.nil?
      .row
        .col-md-6.col-sm-4.col-xs-6.text-left.text-muted
          .media
            .pull-left
              %a{href: show_user_profile_path(a.user.screen_name)}
                %img.img-rounded.answerbox--img{src: gravatar_url(a.user)}
            .media-body
              %h6.media-heading.answerbox--answer-user
                = raw t('views.answerbox.answered', hide: hidespan(t('views.answerbox.hide'), "xs"), user: user_screen_name(a.user))
              .answerbox--answer-date
                = link_to(raw(t('views.answerbox.time', time: time_tooltip(a))), show_user_answer_path(a.user.screen_name, a.id))
        .col-md-6.col-sm-8.col-xs-6.text-right
          = render 'shared/answerbox_buttons', a: a
    - else
      .row
        .col-md-6.col-sm-4.col-xs-6.text-left.text-muted
          %i.fa.fa-clock-o
          = link_to(raw(t('views.answerbox.time', time: time_tooltip(a))), show_user_answer_path(a.user.screen_name, a.id))
        .col-md-6.col-sm-8.col-xs-6.text-right
          = render 'shared/answerbox_buttons', a: a
  .panel-footer{id: "ab-comments-section-#{a.id}", style: @display_all.nil? ? 'display: none' : nil }
    %div{id: "ab-smiles-#{a.id}"}= render 'shared/smiles', a: a
    %div{id: "ab-comments-#{a.id}"}= render 'shared/comments', a: a
