%span.hidden-xs.text-muted
  - unless user_signed_in?
    - if a.smile_count > 0
      %button.btn.btn-info.btn-sm{name: 'ab-smile', disabled: true}
        %i.fa.fa-smile-o
        %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
- if user_signed_in?
  - if current_user.smiled? a
    %button.btn.btn-info.btn-sm{type: :button, name: 'ab-smile', data: { a_id: a.id, action: :unsmile }}
      %i.fa.fa-frown-o
      %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
  - else
    %button.btn.btn-info.btn-sm{type: :button, name: 'ab-smile', data: { a_id: a.id, action: :smile }}
      %i.fa.fa-smile-o
      %span{id: "ab-smile-count-#{a.id}"}= a.smile_count
- unless @display_all
  %button.btn.btn-primary.btn-sm{type: :button, name: 'ab-comments', data: { a_id: a.id, state: :hidden }}
    %i.fa.fa-comments
    %span{id: "ab-comment-count-#{a.id}"}= a.comment_count
- if user_signed_in?
  .btn-group
    %button.btn.btn-default.btn-sm.dropdown-toggle{data: { toggle: :dropdown }, aria: { expanded: :false }}
      %span.caret
    %ul.dropdown-menu.dropdown-menu-right{role: :menu}
      - if Subscription.is_subscribed(current_user, a)
        %li
          -#                                            fun joke    should subscribe?
          %a{href: '#', data: { a_id: a.id, action: 'ab-submarine', torpedo: "no" }}
            %i.fa.fa-anchor
            = t 'views.actions.unsubscribe'
      - else
        %li
          %a{href: '#', data: { a_id: a.id, action: 'ab-submarine', torpedo: "yes" }}
            %i.fa.fa-anchor
            = t 'views.actions.subscribe'
      - if privileged? a.user
        %li.text-danger
          %a{href: '#', data: { a_id: a.id, action: 'ab-destroy' }}
            %i.fa.fa-trash-o
            = t 'views.actions.return'
      - unless a.user == current_user
        %li
          %a{href: '#', data: { a_id: a.id, action: 'ab-report' }}
            %i.fa.fa-exclamation-triangle
            = t 'views.actions.report'
