.text-center.text-muted.pb-3
  &copy;
  = Date.today.year
  %span{ title: Retrospring::Version.to_s }= APP_CONFIG["site_name"]
  ·
  = link_to t(".about"), about_path
  ·
  = link_to t(".source"), Retrospring::Version.source_url
  ·
  = link_to t(".terms"), terms_path
  ·
  = link_to t(".privacy"), privacy_policy_path
  - if APP_CONFIG["links"].present?
    - APP_CONFIG["links"].each do |link|
      ·
      = link_to link["text"], link["url"]
