.centre.text-muted.links
  &copy;
  = Date.today.year
  = APP_CONFIG['site_name']
  路
  = link_to "About", about_path
  路
  = link_to "Github", 'https://github.com/retrospring/retrospring'
  路
  = link_to "Terms of Service", terms_path
  路
  = link_to "Privacy Policy", privacy_policy_path