.text-center.text-muted.pb-3
  &copy;
  = Date.today.year
  = APP_CONFIG['site_name']
  路
  = link_to t('views.general.about'), about_path
  路
  = link_to 'GitHub', 'https://github.com/Retrospring/retrospring'
  路
  = link_to t('views.general.terms'), terms_path
  路
  = link_to t('views.general.privacy'), privacy_policy_path
