.text-center.text-muted.pb-3
  &copy;
  = Date.today.year
  %span{ title: Retrospring::Version.to_s }= APP_CONFIG["site_name"]
  路
  = link_to t(".about"), about_path
  路
  = link_to t(".source"), "https://github.com/Retrospring/retrospring"
  路
  = link_to t(".terms"), terms_path
  路
  = link_to t(".privacy"), privacy_policy_path
