#modal-ask-followers.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-ask-followers-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only= t 'views.actions.close'
        %h4#modal-ask-followers-label.modal-title= t 'views.modal.ask.title'
      .modal-body
        %textarea.form-control{:name => "qb-all-question", :placeholder => t('views.placeholder.question')}
      .modal-footer
        - if current_user.groups.count > 0
          %label
            = t 'views.modal.ask.choose'
            %select{name: 'qb-all-rcpt', class: 'form-control', autocomplete: 'off'}
              %option{value: 'followers', selected: true}= t('views.general.follower').pluralize(2)
              %optgroup{label: t('views.group.title').pluralize(2)}
                - current_user.groups.each do |group|
                  %option{value: "grp:#{group.name}"}= group.display_name
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t 'views.actions.cancel'
        %button.btn.btn-primary{name: 'qb-all-ask', :type => "button", data: {loading_text: t('views.modal.ask.loading') }}= t 'views.actions.ask'
