.panel.panel-default.hidden-xs
  %img.profile--avatar{src: current_user.profile_picture.url(:large)}
  - unless inbox_count.nil?
    .profile--panel-badge.panel-badge-info
      %i.fa.fa-envelope
      = pluralize(inbox_count, 'new question')
  .panel-body
    - if current_user.display_name.blank?
      .profile--displayname
        = current_user.screen_name
    - else
      .profile--displayname
        = current_user.display_name
      .profile--username
        = current_user.screen_name
    .row
      %a{href: show_user_followers_path(current_user.screen_name)}
        .col-md-6.col-sm-6.col-xs-6
          %h4.entry-text#follower-count= current_user.follower_count
          %h6.entry-subtext Followers
      %a{href: show_user_friends_path(current_user.screen_name)}
        .col-md-6.col-sm-6.col-xs-6
          %h4.entry-text#friend-count= current_user.friend_count
          %h6.entry-subtext Following
.panel.panel-default.hidden-xs
  %ul.nav.nav-pills.nav-stacked
    = list_group_item "Timeline", root_path
    = list_group_item "Public", public_timeline_path
    - current_user.groups.each do |group|
      = list_group_item group.display_name, group_timeline_path(group.name)
- unless @group.nil?
  .panel.panel-default.profile--panel.hidden-xs
    .panel-heading
      %h3.panel-title Members
    .panel-body
      - @group.members.each do |member|
        %a{href: show_user_profile_path(member.user.screen_name), title: member.user.screen_name, data: { toggle: :tooltip, placement: :top }}
          %img.img-rounded.answerbox--img-small{src: member.user.profile_picture.url(:medium)}

.hidden-xs= render 'shared/links'