.card.userbox
  %img.userbox__header{src: current_user.profile_header.url(:mobile)}
  .card-body
    %img.userbox__avatar{src: current_user.profile_picture.url(:small)}
    .profile__name
      - unless current_user.display_name.blank?
        .profile__display-name
          = current_user.display_name
      .profile__screen-name
        = current_user.screen_name
.card
  .list-group
    = list_group_item t('views.general.timeline'), root_path
    - if APP_CONFIG.dig(:features, :public, :enabled)
      = list_group_item t('views.general.public'), public_timeline_path
    - current_user.groups.each do |group|
      = list_group_item group.display_name, group_timeline_path(group.name)
- unless @group.nil?
  .card.profile--panel
    .card-header
      %h3.card-title= t('views.group.members')
    .card-body
      - @group.members.each do |member|
        %a{href: show_user_profile_path(member.user.screen_name), title: member.user.screen_name, data: { toggle: :tooltip, placement: :top }}
          %img.avatar-xs{src: member.user.profile_picture.url(:medium)}

= render 'shared/links'
