/ TODO: pixeldesu pls
- type ||= @type || :nil
.panel.panel-default
  .panel-body
    .media
      .pull-left
        %img.img-rounded.profile--img{src: gravatar_url(user)}
      .media-body
        - if user.display_name.blank?
          %h2
            %a{href: show_user_profile_path(user.screen_name)}
              = user.screen_name
        - else
          %h2.profile--displayname
            %a{href: show_user_profile_path(user.screen_name)}
              = user.display_name
          %h4.text-muted.profile--username= user.screen_name
    .row
      .col-md-6.col-sm-6.col-xs-6
        %h4.entry-text#asked-count= user.asked_count
        %h6.entry-subtext Questions
      .col-md-6.col-sm-6.col-xs-6
        %h4.entry-text#answered-count= user.answered_count
        %h6.entry-subtext Answers
    = render 'user/actions', user: user, type: type