- type ||= @type || :nil
- header_class = if user.profile_header.exists? then "userbox--header-container" else "userbox--no-header" end
.panel.panel-default
  %div{class: header_class}
    %img.userbox--header{src: user.profile_header.url(:mobile)}
  .panel-body
    %img.userbox--avatar{src: user.profile_picture.url(:small)}
    %p.userbox--username
      - if user.display_name.blank?
        %a.profile--displayname{href: show_user_profile_path(user.screen_name)}
          = user.screen_name
      - else
        %a.profile--displayname{href: show_user_profile_path(user.screen_name)}
          = user.display_name
        %span.profile--username
          = user.screen_name
    .row
      .col-md-6.col-sm-6.col-xs-6
        %h4.entry-text#asked-count= user.asked_count
        %h6.entry-subtext= t('views.general.question').pluralize(user.asked_count)
      .col-md-6.col-sm-6.col-xs-6
        %h4.entry-text#answered-count= user.answered_count
        %h6.entry-subtext= t('views.general.answer').pluralize(user.answered_count)
    = render 'user/actions', user: user, type: type
