.card
  .card-body
    %h2= t(".heading")
    %p= t(".body")
    %p= t(".note")
    #rules
      - @rules.each do |rule|
        = render "settings/mutes/rule", rule: rule
    .form-group
      %form{ action: settings_muted_path, method: "post" }
        .input-group
          %input.form-control#muted_phrase{ name: :muted_phrase, placeholder: t(".placeholder") }
          .input-group-append
            %button.btn.btn-primary{ type: "submit" }= t("voc.add")

- provide(:title, generate_title(t(".title")))
- parent_layout "user/settings"
