.col-md-3.col-sm-4.col-xs-12
  .panel.panel-default.hidden-xs
    .list-group
      = list_group_item t('views.moderation.tabs.all'), moderation_path
      = list_group_item t('views.general.answer').pluralize(2),     moderation_path('answer')
      = list_group_item t('views.general.comment').pluralize(2),    moderation_path('comment')
      = list_group_item t('views.general.user').pluralize(2),       moderation_path('user')
      = list_group_item t('views.general.question').pluralize(2),   moderation_path('question')
      = list_group_item 'Priority',   moderation_priority_path
