.col-md-3.col-sm-3.col-xs-12
  .panel.panel-default.hidden-xs
    %ul.nav.nav-pills.nav-stacked
      = list_group_item "All reports", moderation_path
      = list_group_item "Answers",     moderation_path('answer')
      = list_group_item "Comments",    moderation_path('comment')
      = list_group_item "Users",       moderation_path('user')
      = list_group_item "Questions",   moderation_path('question')
