.col-md-3.col-sm-3.col-xs-12
  .panel.panel-default.hidden-xs
    .panel-body
      %ul.nav.nav-pills.nav-stacked
        = nav_entry "All reports", moderation_path
        = nav_entry "Answers",     moderation_path('answer')
        = nav_entry "Comments",    moderation_path('comment')
        = nav_entry "Users",       moderation_path('user')
        = nav_entry "Questions",   moderation_path('question')
