.panel.panel-default.moderationbox
  .panel-heading
    %img.img-rounded.answerbox--img{src: gravatar_url(report.user)}
    = user_screen_name report.user
    reported a
    = report.type.sub('Reports::', '')
    = time_ago_in_words(report.created_at)
    ago
  .panel-body
    %p
      - if report.type == 'Reports::User'
        = user_screen_name report.target
      - else
        = report.target.content
    .row
      .col-md-6.col-sm-4.col-xs-6.text-left
        %button.btn.btn-primary
          View reported
          contenttype
      .col-md-6.col-sm-8.col-xs-6.text-right
        %button.btn.btn-success.btn-sm
          %i.fa.fa-thumbs-up
          %span 0
        %button.btn.btn-danger.btn-sm
          %i.fa.fa-thumbs-down
          %span 0
        %button.btn.btn-primary.btn-sm
          %i.fa.fa-comments
          %span 0
  .panel-footer
    = render 'moderation/discussion', report: report