.card.h-100.userbox
  %img.userbox__header{ src: user.profile_header.url(:mobile) }
  .card-body
    %img.userbox__avatar{ src: user.profile_picture.url(:small) }
    %a.profile__name{ href: show_user_profile_path(user.screen_name) }
      - unless user.profile.display_name.blank?
        .profile__display-name
          = user.profile.display_name
      .profile__screen-name
        = user.screen_name
    .row
      .col-md-12.col-sm-12.col-xs-12
        - if count.positive?
          %h4.entry-text.text-center#asked-count
            = count
            = 'Report'.pluralize(count)
            %br
            %br
        - else
          %br
    = render 'actions', user: user
