.card
  .card-body
    = bootstrap_form_for(resource, as: resource_name, url: "/settings/account", html: { method: :put }, data: { turbo: false}) do |f|
      = render "modal/password", f: f
      = render "devise/shared/error_messages", resource: resource

      = f.text_field :screen_name, autofocus: true, autocomplete: :username

      = f.email_field :email, autocomplete: :email
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .alert.alert-info= raw t(".email_confirm", resource: resource.unconfirmed_email)

      = f.password_field :password, autocomplete: "new-password", help: t(".help.password")
      = f.password_field :password_confirmation, autocomplete: "new-password"

      %button.btn.btn-primary{ data: { target: "#modal-passwd", toggle: :modal, type: :button } }
        = t("voc.save")

      %hr/
    %p= t(".delete.heading")
    %p= link_to t(".delete.action"), "/settings/account", data: { turbo_confirm: t(".delete.confirm"), turbo_method: :delete }, class: "btn btn-danger btn-xs"
