- if notifications.count.zero?
  %a.dropdown-item.text-center{ href: notifications_path('all'), data: { turbo_frame: "_top" } }
    %i.fa.fa-fw.fa-chevron-right
    = t(".all")
  .dropdown-item.text-center.p-2
    %i.fa.fa-bell-o.notification__bell-icon
    %p= t(".none")
- else
  %a.dropdown-item.text-center{ href: notifications_path, data: { turbo_frame: "_top" } }
    %i.fa.fa-fw.fa-chevron-right
    = t(".new")
  = link_to notifications_read_path, class: "dropdown-item text-center", data: { turbo_stream: true, turbo_method: :post } do
    %i.fa.fa-fw.fa-check-double
    = t(".mark_as_read")
  - notifications.each do |notification|
    .dropdown-item
      = render "notifications/type/#{notification.target.class.name.downcase.split('::').last}", notification:

