.dropdown-menu.dropdown-menu-end.profile-dropdown{ id: "rs-#{size}-nav-profile" }
  %h6.dropdown-header.d-none.d-sm-block= current_user.screen_name
  %a.dropdown-item{ href: edit_user_registration_path }
    %i.fa.fa-fw.fa-cog
    = t(".settings")
  .dropdown-divider
  = link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do
    %i.fa.fa-fw.fa-sign-out
    = t("voc.logout")
