.card
  .list-group.list-group-horizontal-sm.text-center
    = list_group_item t(".timeline"), timeline_path
    - if APP_CONFIG.dig(:features, :public, :enabled)
      = list_group_item t(".public"), public_timeline_path
    %a.list-group-item.list-group-item-action.dropdown.dropdown-toggle{ class: list ? "active" : "",
      type: :button, data: { bs_toggle: :dropdown }, aria: { haspopup: true, expanded: false } }
      - if list
        = list.display_name
      - else
        = t(".lists.title")
    .dropdown-menu.dropdown-menu-end.dropdown-menu--lists
      - if list
        %h6.dropdown-header= t(".lists.members.title")
        - if list.members.empty?
          %p.text-muted= t(".list.members.none")
        - else
          %p.px-4.pb-2
            - list.members.each do |member|
              %a{ href: user_path(member.user), title: member.user.screen_name, data: { bs_toggle: :tooltip, bs_placement: :top } }
                = render AvatarComponent.new(user: member.user, size: "xs")
      - if !list && lists.empty?
        .p-3= t(".lists.notice_html")
      - lists.each do |list|
        %a.dropdown-item{ href: list_timeline_path(list.name) }= list.display_name
