.card
  .list-group
    = list_group_item t(".new"), notifications_path, badge: Notification.for(current_user).where(new: true).count
    = list_group_item t(".all"), notifications_path('all')

.card
  .card-header
    Filter by Type
  .list-group
    = list_group_item t('.answer'),
      notifications_path('answer'),
      badge: Notification.for(current_user).where(target_type: 'Answer', new: true).count
    = list_group_item t('.smile'),
      notifications_path('smile'),
      badge: Notification.for(current_user).where(target_type: 'Smile', new: true).count
    = list_group_item t('.comment'),
      notifications_path('comment'),
      badge: Notification.for(current_user).where(target_type: 'Comment', new: true).count
    = list_group_item t('.commentsmile'),
      notifications_path('commentsmile'),
      badge: Notification.for(current_user).where(target_type: 'CommentSmile', new: true).count
    = list_group_item t('.relationship'),
      notifications_path('relationship'),
      badge: Notification.for(current_user).where(target_type: 'Relationship', new: true).count

.d-none.d-sm-block= render 'shared/links'
