.card
  .list-group
    = list_group_item t(".new"), notifications_path, badge: Notification.for(current_user).where(new: true).count
    = list_group_item t(".all"), notifications_path('all')

.card
  .card-header
    Filter by Type
  .list-group
    = list_group_item t('.answer'),
      notifications_path('answer'),
      badge: @counters['Answer']
    = list_group_item t('.smile'),
      notifications_path('smile'),
      badge: @counters['Smile']
    = list_group_item t('.comment'),
      notifications_path('comment'),
      badge: @counters['Comment']
    = list_group_item t('.commentsmile'),
      notifications_path('commentsmile'),
      badge: @counters['CommentSmile']
    = list_group_item t('.relationship'),
      notifications_path('relationship'),
      badge: @counters['Relationship']

.d-none.d-sm-block= render 'shared/links'
