.jumbotron.j2-jumbo.text-center.particle-jumbotron
  #particles
  .particle-content
    .container
      = render 'layouts/messages'
      %h1= APP_CONFIG['site_name']
      %p= t 'views.front.subtitle'
      %p
        %a.btn.btn-primary.btn-lg{href: url_for(new_user_registration_path)}
          Register now
      %small
        Already a member?
        = link_to 'Sign in', new_user_session_path
.container-fluid
  .row.text-center
    .col-md-4.col-sm-4.col-xs-12
      .icon-showcase
        %i.fa.fa-comments
      %h3.heading-showcase= t 'views.front.ask.title'
      %p= t('views.front.ask.desc', app_title: APP_CONFIG['site_name'])
    .col-md-4.col-sm-4.col-xs-12
      .icon-showcase
        %i.fa.fa-users
      %h3.heading-showcase= t 'views.front.follow.title'
      %p= t 'views.front.follow.desc'
    .col-md-4.col-sm-4.col-xs-12
      .icon-showcase
        %i.fa.fa-share-square-o
      %h3.heading-showcase= t 'views.front.share.title'
      %p= t 'views.front.share.desc'
= render "shared/links"
