.container
  %h1.centre
    About
    = APP_CONFIG['site_name']
  
  = render 'layouts/messages'
  
  /
    TODO: fill this out.
    also TODO: find a way to make each panel's height equal
  
  .row
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3 The Team
          The people behind justask!
          %br/
          %ul
            - @admins.each do |user|
              %li
                %a= link_to user.screen_name, show_user_profile_path(user.screen_name)
      .panel.panel-default
        .panel-body
          There are lies, damned lies, and then there are...
          %h3 Statistics
          .row
            .col-xs-6
              %h4.entry-text#asked-count= Question.count
              %h6.entry-subtext Questions
            .col-md-6.col-sm-6.col-xs-6
              %h4.entry-text#answered-count= Answer.count
              %h6.entry-subtext Answers
          .row
            .col-xs-6
              %h4.entry-text#follower-count= User.count
              %h6.entry-subtext Users
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3 Alpha version
          This is an alpha version, full of bugs.  Caveat emptor.
    .col-sm-4
      .panel.panel-default
        .panel-body
          %h3 Made with...
          %ul
            %li HTML5
            %li Ruby on Rails
            %li FreeBSD, Linux
            %li RubyMine, Kate, vim
            %li GitLab

= render "shared/links"
