- provide(:title, generate_title("About"))
.jumbotron.j2-jumbo.text-center.particle-jumbotron
  #particles
  .particle-content
    %h1= APP_CONFIG['site_name']
    %p= t 'views.about.subtitle'
.container
  .panel.panel-default
    .panel-body
      .row
        .col-md-3
          %h3= t 'views.about.links.title'
          %p= t('views.about.links.desc', app_title: APP_CONFIG['site_name'])
        .col-md-3.col-sm-4
          %a{href: "https://twitter.com/retrospringnet"}
            .icon-showcase
              %i.fa.fa-twitter
          %h4.heading-about.text-center
            Twitter
        .col-md-3.col-sm-4
          %a{href: "https://github.com/Retrospring/bugs"}
            .icon-showcase
              %i.fa.fa-bug
          %h4.heading-about.text-center
            Bug Tracker
        .col-md-3.col-sm-4
          %a{href: help_faq_path}
            .icon-showcase
              %i.fa.fa-question
          %h4.heading-about.text-center
            FAQ
  .panel.panel-default
    .panel-body
      .row
        .col-md-4
          %h3= t 'views.about.opensource.title'
          %p= t('views.about.opensource.warning', app_title: APP_CONFIG['site_name'])
          %p= raw t('views.about.opensource.desc', app_title: APP_CONFIG['site_name'], github: link_to(t('views.about.opensource.github'), "https://github.com/Retrospring/retrospring"), bugtracker: link_to(t('views.about.opensource.bugtracker'), "https://github.com/Retrospring/bugs"))
        .col-md-4
          %a{href: "https://github.com/Retrospring/retrospring"}
            .icon-showcase
              %i.fa.fa-github
          %h4.heading-about.text-center= t 'views.about.repository.title'
          %p.text-center
            %em= t 'views.about.repository.desc'
        .col-md-4
          %h3= t 'views.about.contributors.title'
          %p= t('views.about.contributors.desc', app_title: APP_CONFIG['site_name'])
          %p= raw t('views.about.contributors.howto', fork: link_to(t('views.about.contributors.fork'), "https://github.com/retrospring/retrospring"))
          %ul.about--moderator
            - User.where(contributor: true).each do |sup|
              %a{href: show_user_profile_path(sup.screen_name), title: sup.screen_name, data: { toggle: :tooltip, placement: :top }}
                %img.img-rounded.answerbox--img-small{src: sup.profile_picture.url(:medium)}
  .panel.panel-default
    .panel-body
      .row
        .col-md-4
          %h3= t 'views.about.team.title'
          = t('views.about.team.desc', app_title: APP_CONFIG['site_name'])
          %br/
          - APP_CONFIG['admins'].each do |adm|
            .media
              .pull-left
                %a{href: show_user_profile_path(adm['screen_name'])}
                  %img.img-rounded.answerbox--img{src: User.find_by_screen_name(adm['screen_name']).profile_picture.url(:medium)}
              .media-body
                %h4.entry-text.entry-about= adm['about_text']
                %h6.entry-subtext= adm['subtext']
        .col-md-4
          %h3= t 'views.about.moderators.title'
          %p= t('views.about.moderators.desc', app_title: APP_CONFIG['site_name'])
          %ul.about--moderator
            - User.where(moderator: true).each do |mod|
              %a{href: show_user_profile_path(mod.screen_name), title: mod.screen_name, data: { toggle: :tooltip, placement: :top }}
                %img.img-rounded.answerbox--img{src: mod.profile_picture.url(:medium)}
        .col-md-4
          %h3= t 'views.about.funding.title'
          %p= t('views.about.funding.desc', app_title: APP_CONFIG['site_name'])
          %ul.about--moderator
            - User.where(supporter: true).each do |sup|
              %a{href: show_user_profile_path(sup.screen_name), title: sup.screen_name, data: { toggle: :tooltip, placement: :top }}
                %img.img-rounded.answerbox--img{src: sup.profile_picture.url(:medium)}
  .panel.panel-default
    .panel-body
      .row
        .col-md-3.col-sm-12.col-xs-12
          %h3= t 'views.about.statistics.title'
          %p= t('views.about.statistics.desc', app_title: APP_CONFIG['site_name'])
        .col-md-3.col-sm-6.col-xs-6.statistics
          %h2.entry-text#asked-count= Question.count
          %h4.entry-subtext= t('views.general.question').pluralize(Question.count)
          %h2.entry-text#answered-count= Answer.count
          %h4.entry-subtext= t('views.general.answer').pluralize(Answer.count)
        .col-md-3.col-sm-6.col-xs-6.statistics
          %h2.entry-text#asked-count= Comment.count
          %h4.entry-subtext= t('views.general.comment').pluralize(Comment.count)
          %h2.entry-text#answered-count= Smile.count + CommentSmile.count
          %h4.entry-subtext= t('views.general.smile').pluralize(Smile.count)
        .col-md-3.col-sm-12.col-xs-12.users
          .entry-text#follower-count= User.count
          %h6.entry-subtext= t('views.general.user').pluralize(User.count)

= render "shared/links"
