- if user_signed_in?
  .container.j2-page
    .col-md-3.col-sm-3
      .panel.panel-default.hidden-xs
        .panel-body
          %p
            Welcome,
            = current_user.screen_name
          - unless inbox_count.nil?
            %p
              %strong
                You have
                = pluralize(inbox_count, 'new question')
                in your inbox!
          .row
            %a{href: show_user_followers_path(current_user.screen_name)}
              .col-md-6.col-sm-6.col-xs-6
                %h4.entry-text#follower-count= current_user.follower_count
                %h6.entry-subtext Followers
            %a{href: show_user_friends_path(current_user.screen_name)}
              .col-md-6.col-sm-6.col-xs-6
                %h4.entry-text#friend-count= current_user.friend_count
                %h6.entry-subtext Following
          .row
            .col-md-6.col-sm-6.col-xs-6
              %h4.entry-text#asked-count= current_user.asked_count
              %h6.entry-subtext Questions
            .col-md-6.col-sm-6.col-xs-6
              %h4.entry-text#answered-count= current_user.answered_count
              %h6.entry-subtext Answers
          .row
            .col-md-6.col-sm-6.col-xs-6
              %h4.entry-text#asked-count= current_user.commented_count
              %h6.entry-subtext Comments
            .col-md-6.col-sm-6.col-xs-6
              %h4.entry-text#answered-count= current_user.smiled_count
              %h6.entry-subtext Smiles
      .panel.panel-default
        .panel-body
          %ul.nav.nav-pills.nav-stacked
            = nav_entry "Timeline", root_path
            = nav_entry "Public", public_timeline_path
      .visible-xs= render 'shared/links'
    .col-md-9.col-xs-12.col-sm-9
      = render 'layouts/messages'

      #timeline
        - @timeline.each do |answer|
          = render 'shared/answerbox', a: answer

      #pagination= will_paginate @timeline, renderer: BootstrapPagination::Rails, page_links: false

      - if @timeline.next_page
        %button#load-more-btn.btn.btn-default{type: :button, data: { current_page: @timeline.current_page }}
          Load more
  .visible-xs= render 'shared/links'
- else
  .jumbotron
    .container
      = render 'layouts/messages'
      %h1 Hi!
      %p Ask questions, give answers and learn more about your friends.
      %p
        %a.btn.btn-primary.btn-lg{href: url_for(new_user_registration_path)}
          Register now
      %small
        Already a member?
        = link_to 'Sign in', new_user_session_path
  = render "shared/links"