- provide(:title, "#{APP_CONFIG['site_name']}")
= render 'static/mobile_nav'
.container.j2-page
  .col-md-3.col-sm-4
    = render 'shared/sidebar'
  .col-md-9.col-xs-12.col-sm-8.j2-col-reset
    = render 'layouts/messages'
    #timeline
      - @timeline.each do |answer|
        = render 'shared/answerbox', a: answer

    = render 'shared/cursored_pagination_dummy', more_data_available: @more_data_available, last_id: @timeline_last_id

    - if @more_data_available
      %button#load-more-btn.btn.btn-default{type: :button, data: { last_id: @timeline_last_id }}
        Load more
  .visible-xs= render 'shared/links'
