- provide(:title, generate_title("Sign In"))
.container
  %h1= t('views.sessions.create')
  = render 'layouts/messages'

  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

    = f.text_field :login, autofocus: true, label: t('views.settings.account.username')
    = f.password_field :password, autocomplete: "off", label: t('views.settings.account.password')

    - if devise_mapping.rememberable?
      = f.check_box :remember_me

    = f.submit t('views.sessions.create')

  = render "devise/shared/links"
= render "shared/links"
