- provide(:title, generate_title(t("voc.login")))
.container
  .row
    .col-sm-4.offset-sm-4
      = render "layouts/messages"
      .card.mt-3
        .card-body
          %h1.mb-3.mt-0= t("voc.login")
          = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f|

            = f.text_field :login, autofocus: true, autocomplete: :username
            = f.password_field :password, autocomplete: "current-password"

            - if devise_mapping.rememberable?
              = f.check_box :remember_me

            = f.primary t("voc.login")

          = render "devise/shared/links"
= render "shared/links"
