- if user_signed_in?
  - type ||= :nil
  - if user == current_user
    %a.btn.btn-default.btn-block.profile--follow-btn{href: edit_user_profile_path} Edit profile
  - else
    - if current_user.following? user
      %button#editprofile.btn.btn-default.btn-block.profile--follow-btn{type: :button, name: 'user-action', data: { action: :unfollow, type: type, target: user.screen_name }}
        = t 'views.actions.unfollow'
    - else
      %button#editprofile.btn.btn-primary.btn-block.profile--follow-btn{type: :button, name: 'user-action', data: { action: :follow, type: type, target: user.screen_name }}
        = t 'views.actions.follow'
  - unless user == current_user
    .btn-group.btn-block
      %button.btn.btn-default.btn-block.btn-sm.dropdown-toggle{data: { toggle: :dropdown }, aria: { expanded: :false }}
        = t 'views.actions.title'
        %span.caret
      %ul.dropdown-menu
        /
          %li
            %a{href: '#', name: 'user-action', data: { action: :block, type: type, target: user.screen_name }}
              %i.fa.fa-minus-circle
              Block
        %li.visible-xs
          %a{href: '#', data: { target: "#modal-group-memberships", toggle: :modal }}
            %i.fa.fa-users
            = t 'views.actions.group'
        %li
          %a{href: '#', data: { action: 'report-user', target: user.screen_name }}
            %i.fa.fa-exclamation-triangle
            = t 'views.actions.report'
        - if current_user.mod?
          %li
            %a{href: '#', data: { target: "#modal-privileges", toggle: :modal }}
              %i.fa.fa-wrench
              = raw t('views.actions.privilege', user: user.screen_name)
          - unless user.admin?
            %li
              %a{href: '#', data: { target: "#modal-ban", toggle: :modal }}
                %i.fa.fa-ban
                = t 'views.actions.ban'
