%li.list-group-item{id: "group-#{group.name}"}
  .media
    .pull-left.j2-table
      %input.input--center{type: :checkbox, name: 'gm-group-check', data: { group: group.name, user: user.screen_name }, checked: user.member_of?(group), autocomplete: 'off'}
    .media-body
      .list-group-item-heading= group.display_name
      .list-group-item-text.text-muted.j2-up
        %span{id: "#{group.name}-members"}= group.members.count
        = t 'views.modal.group.members'
        ·
        %a.j2-delete#delete-group{href: "#", data: { group: group.name }}
          %i.fa.fa-close
          = t 'views.actions.delete'
