#modal-ban.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-ban-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#modal-ban-label.modal-title
          Ban Control Center
      = bootstrap_form_tag(url: '/mod/ban', html: { method: :post, novalidate: "novalidate" }) do |f|
        = f.hidden_field :user, value: @user.screen_name
        #ban-control-super.modal-body
          = f.check_box :ban, label: "Ban?", checked: @user.banned?
          #ban-controls{style: "#{"display: none" unless @user.banned?}"}
            = f.check_box :permaban, label: "Permanently?", checked: @user.permanently_banned?
            #ban-controls-time{style: "#{"display: none" unless not @user.permanently_banned?}"}
              = f.text_field :until, label: "", required: true, value: (@user.banned_until || DateTime.current).strftime("%m/%d/%Y %I:%M %p")
            = f.text_field :reason, placeholder: "Reason", value: @user.ban_reason
        .modal-footer
          %button.btn.btn-default{name: 'stop-time', type: :button, data: { dismiss: :modal }} Close
          = f.submit "Hammer Time", class: "btn btn-primary", name: 'hammer-time'
