#modal-group-memberships.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-group-memberships-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only= t 'views.actions.close'
        %h4#modal-group-memberships-label.modal-title= t 'views.modal.group.title'
      %div{role: "tabpanel"}
        %ul.nav.nav-tabs{role: "tablist"}
          %li.active{role: "presentation"}
            %a{href: "#grouplist", aria: {controls: "grouplist"}, data: {toggle: "tab"}, role: "tab"}
              = t 'views.modal.group.tabs.main'
          %li{role: "presentation"}
            %a{href: "#create", aria: {controls: "create"}, data: {toggle: "tab"}, role: "tab"}
              = t 'views.modal.group.tabs.create'

        .tab-content
          .tab-pane.active{role:"tabpanel", id: "grouplist"}
            %ul.list-group.groups--list
              - current_user.groups.each do |group|
                = render 'user/modal_group_item', group: group, user: @user
          .tab-pane{role:"tabpanel", id: "create"}
            .modal-body
              %input#new-group-name.form-control{type: :text, placeholder: t('views.modal.group.name')}
              %button#create-group.btn.btn-primary{type: :button, data: { user: @user.screen_name }}= t('views.modal.group.create')
      .modal-footer
        %button.btn.btn-primary{name: 'gm-save', type: :button, data: { dismiss: :modal }}= t 'views.actions.done'
