.col-md-3.col-xs-12.col-sm-3
  .panel.panel-default
    .list-group
      = list_group_item t('views.settings.tabs.account'), edit_user_registration_path
      = list_group_item t('views.settings.tabs.profile'), edit_user_profile_path
      = list_group_item t('views.settings.tabs.privacy'), edit_user_privacy_path
      = list_group_item t('views.settings.tabs.sharing'), services_path
      = list_group_item t('views.settings.tabs.apps'),    oauth_authorized_applications_path
      = list_group_item t('views.settings.tabs.develop'), oauth_applications_path
      = list_group_item 'Theme', edit_user_theme_path
      = list_group_item "Your Data", user_data_path

>>>>>>> 010d0a327ec4b1c6783eaf1fc7fc71d2e3de42a5
  .hidden-xs= render "shared/links"
