.col-md-3.col-xs-12.col-sm-3
  .panel.panel-default
    .panel-body
      %ul.nav.nav-pills.nav-stacked
        = nav_entry "Account", edit_user_registration_path
        = nav_entry "Profile", edit_user_profile_path
        = nav_entry "Privacy", edit_user_privacy_path
        = nav_entry "Sharing", services_path

  
  .hidden-xs= render "shared/links"