- provide(:title, generate_title("Your Data"))
.container.j2-page
  = render 'settings_tabs'
  .col-md-9.col-xs-12.col-sm-8
    .panel.panel-default
      .panel-body
        %h2 Your Profile Data
        %p Everything we have about you! Really, not that much as you might expect.

        %h3 General
        .row
          .col-md-6.col-sm-6.col-xs-12
            %h4 Profile

            %p.data-heading User name
            %p.text-muted= current_user.screen_name

            %p.data-heading Display name
            %p.text-muted
              - if current_user.display_name.empty?
                None set!
              - else
                = current_user.display_name

            %p.data-heading Bio
            %p.text-muted
              - if current_user.bio.blank?
                None set!
              - else
                = current_user.bio

            %p.data-heading Location
            %p.text-muted
              - if current_user.location.blank?
                None set!
              - else
                = current_user.location

            %p.data-heading Website
            %p.text-muted
              - if current_user.website.blank?
                None set!
              - else
                = current_user.website
          .col-md-6.col-sm-6.col-xs-12
            %h4 Pictures
            %p.data-heading Profile picture
            .media
              .pull-left
                %img.profile--img{src: current_user.profile_picture.url(:medium)}
              .media-body
                %ul
                  %li
                    %a{href: current_user.profile_picture.url(:small)} Small
                  %li
                    %a{href: current_user.profile_picture.url(:medium)} Medium
                  %li
                    %a{href: current_user.profile_picture.url(:large)} Large
                  %li
                    %a{href: current_user.profile_picture.url(:original)} Original image

            %p.data-heading Header picture
            %img.data-header-preview{src: current_user.profile_header.url(:mobile)}
            %p
              %a{href: current_user.profile_header.url(:mobile)} Mobile
              |
              %a{href: current_user.profile_header.url(:web)} Web
              |
              %a{href: current_user.profile_header.url(:retina)} Retina
              |
              %a{href: current_user.profile_header.url(:original)} Original image
        .row
          .col-md-6.col-sm-6.col-xs-12
            %h4 Statistics

            %p.data-heading Answers
            %p.text-muted= current_user.answered_count

            %p.data-heading Questions
            %p.text-muted= current_user.asked_count

            %p.data-heading Following
            %p.text-muted= current_user.friend_count

            %p.data-heading Followers
            %p.text-muted= current_user.follower_count

            %p.data-heading Smiles
            %p.text-muted= current_user.smiled_count + current_user.comment_smiled_count

            %p.data-heading Comments
            %p.text-muted= current_user.commented_count
          .col-md-6.col-sm-6.col-xs-12
            %h4 Badges

            %p.data-heading Admin
            %p
              - if current_user.admin?
                %span.label.label-success
                  %i.fa.fa-fw.fa-check
              - else
                %span.label.label-danger
                  %i.fa.fa-fw.fa-close

            %p.data-heading Moderator
            %p
              - if current_user.mod?
                %span.label.label-success
                  %i.fa.fa-fw.fa-check
              - else
                %span.label.label-danger
                  %i.fa.fa-fw.fa-close

            %p.data-heading Supporter
            %p
              - if current_user.supporter?
                %span.label.label-success
                  %i.fa.fa-fw.fa-check
              - else
                %span.label.label-danger
                  %i.fa.fa-fw.fa-close

            %p.data-heading Contributor
            %p
              - if current_user.contributor?
                %span.label.label-success
                  %i.fa.fa-fw.fa-check
              - else
                %span.label.label-danger
                  %i.fa.fa-fw.fa-close

            %p.data-heading Blogger
            %p
              - if current_user.blogger?
                %span.label.label-success
                  %i.fa.fa-fw.fa-check
              - else
                %span.label.label-danger
                  %i.fa.fa-fw.fa-close

            %p.data-heading Translator
            %p
              - if current_user.translator?
                %span.label.label-success
                  %i.fa.fa-fw.fa-check
              - else
                %span.label.label-danger
                  %i.fa.fa-fw.fa-close
        .row
          .col-md-6.col-sm-6.col-xs-12
            %h3 IP
            %p.data-heading Current Sign In
            %p.text-muted= current_user.current_sign_in_ip

            %p.data-heading Last Sign In
            %p.text-muted= current_user.last_sign_in_ip
          .col-md-6.col-sm-6.col-xs-12
            %h3 Miscellaneous

            %p.data-heading Locale
            %p.text-muted
              - if current_user.locale.blank?
                None set!
              - else
                = current_user.locale

            %p.data-heading Sign In count
            %p.text-muted= current_user.sign_in_count
        %h3 Dates
        .row
          .col-md-6.col-sm-6.col-xs-12
            %h4 Sign In

            %p.data-heading Current Sign In
            %p.text-muted= localize(current_user.current_sign_in_at)

            %p.data-heading Last Sign In
            %p.text-muted= localize(current_user.last_sign_in_at)

            %p.data-heading Remember me set at
            %p.text-muted= localize(current_user.remember_created_at)
          .col-md-6.col-sm-6.col-xs-12
            %h4 Create/Update

            %p.data-heading Account created
            %p.text-muted
              = localize(current_user.created_at)
              = " (#{time_ago_in_words(current_user.created_at)} ago)"

            %p.data-heading Account last updated
            %p.text-muted
              = localize(current_user.updated_at)
              = " (#{time_ago_in_words(current_user.updated_at)} ago)"
