- provide(:title, generate_title("Privacy Settings"))
.container.j2-page
  = render 'settings_tabs'
  .col-md-9.col-xs-12.col-sm-8
    = render 'layouts/messages'
    .panel.panel-default
      .panel-body
        = bootstrap_form_for(current_user, url: {action: "edit_privacy"}, method: "patch") do |f|

          = f.check_box :privacy_allow_anonymous_questions, label: t('views.settings.privacy.anonymous')
          = f.check_box :privacy_allow_public_timeline, label: t('views.settings.privacy.public')
          = f.check_box :privacy_allow_stranger_answers, label: t('views.settings.privacy.stranger')

          = f.submit t('views.actions.save'), class: 'btn btn-primary'
