- provide(:title, user_title(@user, "groups"))
- no_header = unless @user.profile_header.exists? then "profile--no-header" else "" end
#profile--header{class: no_header}
  %img.profile--header-img{src: @user.profile_header.url(:web)}
.container.j2-page.headerable{class: no_header}
  .row
    .col-md-3.col-xs-12.col-sm-4
      = render 'user/profile_info'
      .hidden-xs= render 'shared/links'
    .col-md-9.col-xs-12.col-sm-8
      %h1.j2-lh.hidden-xs Groups
      %h1.visible-xs Groups

      %ul
        - @groups.each do |group|
          %li
            - if group.private?
              %i.fa.fa-lock
            = group.display_name

  .visible-xs= render 'shared/links'
- if user_signed_in?
  = render 'user/modal_group_memberships'
