.profile--header
.container.j2-page
  .col-md-3.col-xs-12.col-sm-4
    = render 'user/profile_info'
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-8
    %h1.j2-lh.hidden-xs Groups
    %h1.visible-xs Groups

    %ul
      - @groups.each do |group|
        %li
          - if group.private?
            %i.fa.fa-lock
          = group.display_name

  .visible-xs= render 'shared/links'
- if user_signed_in?
  = render 'user/modal_group_memberships'