- provide(:title, user_title(@user, "friends and followers"))
- no_header = unless @user.profile_header.exists? then "profile--no-header" else "" end
#profile--header{class: no_header}
  %img.profile--header-img{src: @user.profile_header.url(:web)}
.container.j2-page.headerable{class: no_header}
  .col-md-3.col-xs-12.col-sm-4.j2-col-reset
    = render 'user/profile_info'
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-8.j2-col-reset
    %h1.j2-lh.hidden-xs= @title
    %h1.visible-xs= @title
    #users
      - @users.each do |user|
        .col-md-4.col-sm-6.col-xs-12
          = render 'shared/userbox', user: user

    = render 'shared/cursored_pagination_dummy', more_data_available: @more_data_available, last_id: @users_last_id

    - if @more_data_available
      %button#load-more-btn.btn.btn-default{type: :button, data: { last_id: @users_last_id }}
        = t 'views.actions.load'
  .visible-xs= render 'shared/links'
- if user_signed_in?
  = render 'user/modal_group_memberships'
