- provide(:title, user_title(@user, "friends and followers"))
.profile--header
.container.j2-page
  .col-md-3.col-xs-12.col-sm-4.j2-col-reset
    = render 'user/profile_info'
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-8.j2-col-reset
    %h1.j2-lh.hidden-xs= @title
    %h1.visible-xs= @title
    #users
      - @users.each do |user|
        .col-md-4.col-sm-6.col-xs-12
          = render 'shared/userbox', user: user

    #pagination= will_paginate @users, renderer: BootstrapPagination::Rails, page_links: false

    - if @users.next_page
      %button#load-more-btn.btn.btn-default{type: :button, data: { current_page: @users.current_page }}
        = t 'views.actions.load'
  .visible-xs= render 'shared/links'
- if user_signed_in?
  = render 'user/modal_group_memberships'
