.container.j2-page
  .col-md-3.col-xs-12.col-sm-3
    .panel.panel-default
      .panel-body
        .row
          .col-md-12.col-xs-12.col-sm-9
            %img.img-rounded.img-profile
        - if @user.display_name.blank?
          %h1= @user.screen_name
        - else
          %h1.user-displayname= @user.display_name
          %h3.text-muted.user-username= @user.screen_name
        - if @user.admin?
          %p.user-admin
            %i.fa.fa-flask
            Admin
        %h4.entry-text#follower-count= @user.follower_count
        %h6.entry-subtext Follower
        %h4.entry-text#friend-count= @user.friend_count
        %h6.entry-subtext Following
        %h4.entry-text#asked-count= @user.asked_count
        %h6.entry-subtext Questions
        %h4.entry-text#answered-count= @user.answered_count
        %h6.entry-subtext Answers
        = render 'user/actions'
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-9
    = render 'shared/questionbox'
    - @answers.each do |a|
      = render 'shared/answerbox', a: a
  .visible-xs= render 'shared/links'
