.container.j2-page
  .col-md-3.col-xs-12.col-sm-3
    .panel.panel-default
      .panel-body
        .row
          .col-md-12.col-xs-12.col-sm-9
            %img.img-rounded.img-profile
        - if @user.display_name.blank?
          %h1= @user.screen_name
        - else
          %h1= @user.display_name
          %h3.text-muted= @user.screen_name
        - if @user.admin?
          %span.label.label-danger Admin
        %ul.list-group
          %li.list-group-item
            Followers
            %span.badge#follower-count= @user.follower_count
          %li.list-group-item
            Followings
            %span.badge#friend-count= @user.friend_count
          %li.list-group-item
            Questions
            %span.badge#friend-count= @user.asked_count
          %li.list-group-item
            Answers
            %span.badge#friend-count= @user.answered_count
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-9
    = render 'shared/questionbox'
    - @answers.each do |a|
      = render 'shared/answerbox', a: a
  .visible-xs= render 'shared/links'
