.container.j2-page
  .col-md-3.col-xs-12.col-sm-3
    .panel.panel-default
      .panel-body
        .row
          .col-md-12.col-xs-12.col-sm-9
            %img.img-rounded.img-profile
        %h1
          = @user.screen_name
        %ul.list-group
          %li.list-group-item
            Followers
            %span.badge#follower-count= @user.follower_count
          %li.list-group-item
            Followings
            %span.badge#friend-count= @user.friend_count
          %li.list-group-item
            Questions
            %span.badge#friend-count= @user.asked_count
          %li.list-group-item
            Answers
            %span.badge#friend-count= @user.answered_count
  .col-md-9.col-xs-12.col-sm-9
    = render 'shared/questionbox'
    - @answers.each do |a|
      .panel.panel-default
        .panel-body
          %p
            %strong= a.question.content
            %small= user_screen_name a.question.user, a.question.author_is_anonymous
          %hr/
          %p= a.content
