.container.j2-page
  .col-md-3.col-xs-12.col-sm-3
    .panel.panel-default
      .panel-body
        .media
          .pull-left
            %img.img-rounded.img-profile{src: gravatar_url(@user)}
          .media-body
            - if @user.display_name.blank?
              %h2= @user.screen_name
            - else
              %h2.user-displayname= @user.display_name
              %h4.text-muted.user-username= @user.screen_name
            - if @user.admin?
              %p.user-admin
                %i.fa.fa-flask
                Admin
        / TODO: make this look prettier (pixeldesu!!!!)
        - unless @user.website.blank?
          %i.fa.fa-globe
          %a{href: @user.website}= @user.display_website
        - unless @user.location.blank?
          %i.fa.fa-location-arrow
          = @user.location
        - unless @user.bio.blank?
          = @user.bio
        .row
          .col-md-6.col-sm-6.col-xs-6
            %h4.entry-text#follower-count= @user.follower_count
            %h6.entry-subtext Follower
          .col-md-6.col-sm-6.col-xs-6
            %h4.entry-text#friend-count= @user.friend_count
            %h6.entry-subtext Following
        .row
          .col-md-6.col-sm-6.col-xs-6
            %h4.entry-text#asked-count= @user.asked_count
            %h6.entry-subtext Questions
          .col-md-6.col-sm-6.col-xs-6
            %h4.entry-text#answered-count= @user.answered_count
            %h6.entry-subtext Answers
        = render 'user/actions'
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-9
    = render 'shared/questionbox'
    - @answers.each do |a|
      = render 'shared/answerbox', a: a
  .visible-xs= render 'shared/links'
