.profile--header
.container.j2-page
  .col-md-3.col-xs-12.col-sm-4
    = render 'user/profile_info'
    .hidden-xs= render 'shared/links'
  .col-md-9.col-xs-12.col-sm-8
    = render 'shared/questionbox'
    #answers
      - @answers.each do |a|
        = render 'shared/answerbox', a: a

    #pagination= will_paginate @answers, renderer: BootstrapPagination::Rails, page_links: false

    - if @answers.next_page
      %button#load-more-btn.btn.btn-default{type: :button, data: { current_page: @answers.current_page }}
        Load more
  .visible-xs= render 'shared/links'
- if user_signed_in?
  = render 'user/modal_group_memberships'
