.container
  .card.profile__header-card
    .profile__header-container
      %img.profile__header-image{ src: @user.profile_header.url(:web) }
  .row
    .col-md-3.col-xs-12.col-sm-4
      = render 'user/profile', user: @user
      .d-none.d-sm-block= render 'shared/links'
    .col-md-9.col-xs-12.col-sm-8
      = render 'questionbox', user: @user
      = render 'tabs/profile', user: @user
      = yield
- if user_signed_in?
  - if current_user.mod? && @user != current_user
    = render 'modal/privileges', user: @user
    = render 'modal/ban', user: @user

.d-block.d-sm-none= render 'shared/links'
