#profile--header
  %img.profile--header-img{src: @user.profile_header.url(:web)}
.container.j2-page.headerable
  .row
    #profile-info.col-md-3.col-xs-12.col-sm-4.j2-col-reset
      = render 'user/profile_info'
      .d-none.d-sm-block= render 'shared/links'
    .col-md-9.col-xs-12.col-sm-8.j2-col-reset
      = render "questionbox"
      = render "tabs/profile"
      = yield
- if user_signed_in?
  = render 'modal/group'
  - if current_user.mod? and @user != current_user
    = render 'modal/privileges'
    = render 'modal/ban'