- no_header = unless @user.profile_header.exists? then "profile--no-header" else "" end
#profile--header{class: no_header}
  %img.profile--header-img{src: @user.profile_header.url(:web)}
.container.j2-page.headerable{class: no_header}
  .row
    #profile-info.col-md-3.col-xs-12.col-sm-4.j2-col-reset
      = render 'user/profile_info'
      .hidden-xs= render 'shared/links'
    .col-md-9.col-xs-12.col-sm-8.j2-col-reset
      = yield
  .visible-xs= render 'shared/links'
- if user_signed_in?
  = render 'modal/group'
  - if current_user.mod? and @user != current_user
    = render 'modal/privileges'
    = render 'modal/ban'