- provide(:title, group_title(@group))
= render 'static/mobile_nav'
.container.j2-page
  .col-md-3.col-sm-4
    = render 'shared/sidebar'
  .col-md-9.col-xs-12.col-sm-8.j2-col-reset
    = render 'layouts/messages'

    #timeline
      - @timeline.each do |answer|
        = render 'shared/answerbox', a: answer

    #pagination= will_paginate @timeline, renderer: BootstrapPagination::Rails, page_links: false

    - if @timeline.next_page
      %button#load-more-btn.btn.btn-default{type: :button, data: { current_page: @timeline.current_page }}
        = t 'views.actions.load'
.visible-xs= render 'shared/links'
