.totp-setup.container
  .row
    .totp-setup__card-container.col
      .totp-setup__card
        .totp-setup__qr
          = qr_svg
        %p.totp-setup__text
          = t(".setup_key")
          %code= current_user.otp_secret_key.scan(/.{4}/).flatten.join(" ")
    .totp-setup__content.col
      = bootstrap_form_for(current_user, url: settings_two_factor_authentication_otp_authentication_path) do |f|
        %p= t(".app.none")
        %ul.list-unstyled.pl-3
          %li
            %i.fa.fa-android
            = t(".app.aegis")
            %ul.list-inline
              %li.list-inline-item
                %a{ href: "https://play.google.com/store/apps/details?id=com.beemdevelopment.aegis" }= t(".source.google_play")
              %li.list-inline-item
                %a{ href: "https://f-droid.org/app/com.beemdevelopment.aegis" }= t(".source.fdroid")
              %li.list-inline-item
                %a{ href: "https://github.com/beemdevelopment/Aegis" }= t(".source.code")
          %li
            %i.fa.fa-apple
            = t(".app.strongbox")
            %ul.list-inline
              %li.list-inline-item
                %a{ href: "https://apps.apple.com/gb/app/strongbox-authenticator/id1023839880" }= t(".source.app_store")
          %li
            %i.fa.fa-apple
            %i.fa.fa-android
            = t(".app.microsoft")
            %ul.list-inline
              %li.list-inline-item
                %a{ href: "https://apps.apple.com/gb/app/microsoft-authenticator/id983156458" }= t(".source.app_store")
              %li.list-inline-item
                %a{ href: "https://play.google.com/store/apps/details?id=com.azure.authenticator" }= t(".source.google_play")
        %p= t(".setup_qr", app_name: APP_CONFIG['site_name'])
        = f.text_field :otp_validation, class: "totp-setup__code-field", inputmode: :numeric, label: t(".otp_validation"), autofocus: true
        = f.primary
