.card
  .card-body
    %h2= t(".heading")
    %p= t(".body")

    %h3= t(".section.general")
    .row
      .col-md-6.col-sm-6.col-xs-12.mb-3
        %h4= t(".section.profile")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.screen_name")
        %p.text-muted= current_user.screen_name

        %p.fw-bold.mb-0= t("activerecord.attributes.profile.display_name")
        %p.text-muted
          = current_user.profile.display_name.presence || t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.profile.description")
        %p.text-muted
          = current_user.profile.description.presence || t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.profile.location")
        %p.text-muted
          = current_user.profile.location.presence || t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.profile.website")
        %p.text-muted
          = current_user.profile.website.presence || t(".none")

      .col-md-6.col-sm-6.col-xs-12.mb-3
        %h4= t(".section.pictures")
        %p.fw-bold.mb-0= t(".pictures.profile_picture.heading")
        .d-flex.mb-3
          .flex-shrink-0
            %img.profile--img{ src: current_user.profile_picture.url(:medium) }
          .flex-grow-1
            %ul
              %li
                %a{ href: current_user.profile_picture.url(:small) }= t(".pictures.profile_picture.size.small")
              %li
                %a{ href: current_user.profile_picture.url(:medium) }= t(".pictures.profile_picture.size.medium")
              %li
                %a{ href: current_user.profile_picture.url(:large) }= t(".pictures.profile_picture.size.large")
              %li
                %a{ href: current_user.profile_picture.url(:original) }= t(".pictures.profile_picture.size.original")

        %p.fw-bold.mb-0= t(".pictures.profile_header.heading")
        %img{ src: current_user.profile_header.url(:mobile), style: "width: 100%" }
        %p
          %a{ href: current_user.profile_header.url(:mobile) }= t(".pictures.profile_header.size.mobile")
          |
          %a{ href: current_user.profile_header.url(:web) }= t(".pictures.profile_header.size.web")
          |
          %a{ href: current_user.profile_header.url(:retina) }= t(".pictures.profile_header.size.retina")
          |
          %a{ href: current_user.profile_header.url(:original) }= t(".pictures.profile_header.size.original")
    .row
      .col-md-6.col-sm-6.col-xs-12.mb-3
        %h3= t(".section.ip")
        %p.fw-bold.mb-0= t("activerecord.attributes.user.current_sign_in_ip")
        %p.text-muted= current_user.current_sign_in_ip

        %p.fw-bold.mb-0= t("activerecord.attributes.user.last_sign_in_ip")
        %p.text-muted= current_user.last_sign_in_ip
      .col-md-6.col-sm-6.col-xs-12.mb-3
        %h3= t(".section.miscellaneous")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.locale")
        %p.text-muted
          = current_user.locale.presence || t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.sign_in_count")
        %p.text-muted= current_user.sign_in_count
    %h3= t(".section.dates")
    .row
      .col-md-6.col-sm-6.col-xs-12
        %h4= t(".section.sign_in")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.current_sign_in_at")
        %p.text-muted= current_user.current_sign_in_at ? localize(current_user.current_sign_in_at) : t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.last_sign_in_at")
        %p.text-muted= current_user.last_sign_in_at ? localize(current_user.last_sign_in_at) : t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.remember_created_at")
        %p.text-muted= current_user.remember_created_at ? localize(current_user.remember_created_at) : t(".none")
      .col-md-6.col-sm-6.col-xs-12
        %h4= t(".section.create_update")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.created_at")
        %p.text-muted
          - if current_user.created_at
            = localize(current_user.created_at)
            = " (#{t('time.distance_ago', time: time_ago_in_words(current_user.created_at))})"
          - else
            = t(".none")

        %p.fw-bold.mb-0= t("activerecord.attributes.user.updated at")
        %p.text-muted
          - if current_user.created_at
            = localize(current_user.updated_at)
            = " (#{t('time.distance_ago', time: time_ago_in_words(current_user.updated_at))})"
          - else
            = t(".none")

- provide(:title, generate_title(t(".title")))
- parent_layout "user/settings"
