.container
  .py-3.py-sm-5
    .row.d-sm-flex
      .col-md-8.align-self-center.text-center.text-md-start
        %h1
          - if APP_CONFIG["use_svg_logo"]
            .d-inline-block.w-50
              = render inline: Rails.application.config.justask_svg_logo
          - else
            = APP_CONFIG["site_name"]
          - if Rails.env.development?
            %span.badge.rounded-pill.bg-warning.text-bg-warning
              DEV
        %p.lead= APP_CONFIG["site_tagline"]
      .col-md-4
        .card
          .card-body
            = bootstrap_form_for(User.new, as: :user, url: session_path(:user), data: { turbo: false }) do |f|

              = f.text_field :login, autofocus: true, autocomplete: :username
              = f.password_field :password, autocomplete: "current-password"

              - if Devise.mappings[:user].rememberable?
                = f.check_box :remember_me

              = f.primary t("voc.login"), class: "btn btn-primary d-grid w-100"

  = render "shared/links"
