.card{ data: { id: u.id } }
  .card-body
    .d-flex
      .flex-shrink-0
        %a{ href: user_path(u) }
          = render AvatarComponent.new(user: u, size: "md", classes: ["me-2"])
      .flex-grow-1
        %h6.question__user
          - if u.profile.display_name.blank?
            %a{ href: user_path(u) }
              = u.screen_name
          - else
            %a{ href: user_path(u) }
              = u.profile.display_name
            %span.text-muted= u.screen_name
        %p.question__text= t(".#{type}", value: value, count: value)
