.card{ data: { id: u.id } }
  .card-body
    .d-flex
      .flex-shrink-0
        %a{ href: user_path(u) }
          %img.avatar-md.me-2{ src: u.profile_picture.url(:medium) }
      .flex-grow-1
        %h6.answerbox__question-user
          - if u.profile.display_name.blank?
            %a{ href: user_path(u) }
              = u.screen_name
          - else
            %a{ href: user_path(u) }
              = u.profile.display_name
            %span.text-muted= u.screen_name
        %p.answerbox__question-text= t(".#{type}", value: value, count: value)
