.panel.panel-default.questionbox{data: { id: u.id }}
  .panel-body
    .media
      .pull-left
        %a{href: show_user_profile_path(u.screen_name)}
          %img.answerbox--img{src: u.profile_picture.url(:medium)}
      .media-body
        %h6.media-heading
          - if u.display_name.blank?
            %a{href: show_user_profile_path(u.screen_name)}
              %span= "@#{u.screen_name}"
          - else
            %a{href: show_user_profile_path(u.screen_name)}
              %span= u.display_name
            %span.text-muted= "@#{u.screen_name}"
        %p.answerbox--question-text
          - if type == "new"
            = t('views.discover.userbox.new', time: time_ago_in_words(u.created_at))
          - elsif type == "most"
            = t('views.discover.userbox.answers', questions: pluralize(a, t('views.general.question')))
          - else
            = t('views.discover.userbox.questions', questions: pluralize(q, t('views.general.question')))
