- provide(:title, generate_title("Discover"))
.jumbotron.j2-jumbo.text-center.particle-jumbotron
  #particles
  .particle-content
    %h1 Discover
    %p
      The perfect place to find interesting content from the last week on
      = succeed '!' do
        = APP_CONFIG['site_name']
.container
  .row
    .col-md-8.col-sm-6
      %h2 Popular Content
      %p Answers with most smiles and most answered questions
      %div{role: "tabpanel"}
        %ul.nav.nav-tabs{role: "tablist"}
          %li.active{role: "presentation"}
            %a{href: "#answers", role: "tab", aria: {controls: "answers"}, data: {toggle: "tab"}}
              Answers
          %li{role: "presentation"}
            %a{href: "#questions", role: "tab", aria: {controls: "questions"}, data: {toggle: "tab"}}
              Questions
        .tab-content.discover
          = render 'discover/tab_answers', answers: @popular_answers
          = render 'discover/tab_questions', questions: @popular_questions
    .col-md-4.col-sm-6
      %h2 People
      %p Newcomers and people who asked the most questions
      %div{role: "tabpanel"}
        %ul.nav.nav-tabs{role: "tablist"}
          %li.active{role: "presentation"}
            %a{href: "#new", role: "tab", aria: {controls: "new"}, data: {toggle: "tab"}}
              New Users
          %li{role: "presentation"}
            %a{href: "#asked", role: "tab", aria: {controls: "asked"}, data: {toggle: "tab"}}
              Most Asked Questions
        .tab-content.discover
          = render 'discover/tab_new', new: @new_users
          = render 'discover/tab_asked', asked: @users_with_most_questions
  = render 'shared/links'
