.card
  .card-body
    = bootstrap_form_for(current_user, url: settings_privacy_path, method: :patch, data: { turbo: false }) do |f|
      = f.check_box :privacy_lock_inbox
      = f.check_box :privacy_allow_anonymous_questions
      = f.check_box :privacy_require_user
      = f.check_box :privacy_allow_public_timeline
      = f.check_box :privacy_allow_stranger_answers
      = f.check_box :privacy_noindex
      = f.check_box :privacy_hide_social_graph

      = f.primary

- provide(:title, generate_title(t(".title")))
- parent_layout "user/settings"
