.card
  .card-body
    = bootstrap_form_for(current_user, url: settings_privacy_path, method: :patch) do |f|
      = f.check_box :privacy_allow_anonymous_questions
      = f.check_box :privacy_allow_public_timeline
      = f.check_box :privacy_allow_stranger_answers

      = f.primary

- provide(:title, generate_title(t(".title")))
- parent_layout "user/settings"
