.card.answerbox{data: { id: a.id, q_id: a.question.id }}
  - if @question.nil?
    = render "answerbox/header", a: a
  .card-body
    - if @display_all.nil?
      .answerbox--answer-text
        = markdown a.content[0..255]
        - if a.content.length > 255
          [...]
          %p
            %a.btn.btn-primary{href: show_user_answer_path(a.user.screen_name, a.id)}
              = t 'views.answerbox.read'
    - else
      .answerbox--answer-text
        = markdown a.content
    - if @user.nil?
      .row
        .col-md-6.col-sm-4.col-xs-6.text-left.text-muted
          .media
            .pull-left
              %a{href: show_user_profile_path(a.user.screen_name)}
                %img.img-rounded.answerbox--img{src: a.user.profile_picture.url(:medium)}
            .media-body
              %h6.media-heading.answerbox--answer-user
                = raw t('views.answerbox.answered', hide: hidespan(t('views.answerbox.hide'), "xs"), user: user_screen_name(a.user))
              .answerbox--answer-date
                = link_to(raw(t('views.answerbox.time', time: time_tooltip(a))), show_user_answer_path(a.user.screen_name, a.id))
        .col-md-6.col-sm-8.col-xs-6.text-right
          = render 'answerbox/actions', a: a
    - else
      .row
        .col-md-6.col-sm-4.col-xs-6.text-left.text-muted
          %i.fa.fa-clock-o
          = link_to(raw(t('views.answerbox.time', time: time_tooltip(a))), show_user_answer_path(a.user.screen_name, a.id))
        .col-md-6.col-sm-8.col-xs-6.text-right
          = render 'answerbox/actions', a: a
  .card-footer{id: "ab-comments-section-#{a.id}", style: @display_all.nil? ? 'display: none' : nil }
    %div{id: "ab-smiles-#{a.id}"}= render 'answerbox/smiles', a: a
    %div{id: "ab-comments-#{a.id}"}= render 'answerbox/comments', a: a