%nav.navbar.navbar-themed.navbar-expand-lg.bg-primary.fixed-top.d-lg-block.d-none.d-print-none{ role: :navigation }
  .container{ class: ios_web_app? ? 'ios-web-app' : '' }
    %a.navbar-brand{ href: '/' }
      = APP_CONFIG['site_name']
    %ul.nav.navbar-nav.mr-auto
      = nav_entry t('views.navigation.timeline'), root_path, icon: 'home'
      = nav_entry t('views.navigation.inbox'), '/inbox', icon: 'inbox', badge: inbox_count
      - if APP_CONFIG.dig(:features, :discover, :enabled) || current_user.mod?
        = nav_entry t('views.navigation.discover'), discover_path, icon: 'compass'
    %ul.nav.navbar-nav
      - if @user.present? && @user != current_user
        %li.nav-item.d-none.d-sm-block{ data: { toggle: 'tooltip', placement: 'bottom' }, title: t(".list") }
          %a.nav-link{ href: '#', data: { target: '#modal-list-memberships', toggle: :modal } }
            %i.fa.fa-list.hidden-xs
            %span.d-none.d-sm-inline.d-md-none= t(".list")
      = nav_entry t('views.navigation.notifications'), notifications_path, badge: notification_count, class: 'd-block d-sm-none'
      %li.nav-item.dropdown.d-none.d-sm-block
        %a.nav-link.dropdown-toggle{ href: '#', data: { toggle: :dropdown } }
          - if notification_count.nil?
            %i.fa.fa-bell-o
          - else
            %i.fa.fa-bell
          %span.sr-only= t('views.navigation.notifications')
          %span.badge= notification_count
        = render 'navigation/dropdown/notifications', notifications: notifications, size: "desktop"
      %li.nav-item.d-none.d-sm-block{ data: { toggle: 'tooltip', placement: 'bottom' }, title: t('.ask_question') }
        %a.nav-link{ href: '#', name: 'toggle-all-ask', data: { target: '#modal-ask-followers', toggle: :modal } }
          %i.fa.fa-pencil-square-o
      %li.nav-item.dropdown.profile--image-dropdown
        %a.nav-link.dropdown-toggle.p-sm-0{ href: "#", data: { toggle: :dropdown } }
          %img.avatar-md.d-none.d-sm-inline{ src: current_user.profile_picture.url(:small) }
          %span.d-inline.d-sm-none
            = current_user.screen_name
            %b.caret
        = render 'navigation/dropdown/profile', size: "desktop"
