%nav.navbar.navbar-themed.navbar-expand-lg.bg-primary.fixed-top{ role: :navigation }
  .container
    %a.navbar-brand{ href: '/', title: APP_CONFIG["site_name"] }
      - if APP_CONFIG["use_svg_logo"]
        = render inline: Rails.application.config.justask_svg_logo
      - else
        = APP_CONFIG["site_name"]
    %button.navbar-toggler{ data: { target: '#j2-main-navbar-collapse', toggle: :collapse }, type: :button }
      %span.sr-only= t("navigation.toggle")
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#j2-main-navbar-collapse
      %ul.nav.navbar-nav.ml-auto
        = nav_entry t("voc.login"), new_user_session_path
        = nav_entry t("voc.register"), new_user_registration_path
