%nav.navbar.navbar-light.bg-white.navbar-static-top.d-flex.d-sm-none{ role: :navigation }
  %a.navbar-brand{ href: notifications_path } Notifications
  %button.navbar-toggler{ data: { target: '#j2-tl-navbar-collapse', toggle: :collapse }, type: :button }
    %span.sr-only Toggle navigation
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#j2-tl-navbar-collapse
    %ul.nav.navbar-nav
      = nav_entry 'New Notifications', notifications_path
      = nav_entry 'All Notifications', notifications_path('all')
      = nav_entry t('views.notifications.tabs.answer'), notifications_path('answer')
      = nav_entry t('views.notifications.tabs.smile'), notifications_path('smile')
      = nav_entry t('views.notifications.tabs.comment'), notifications_path('comment')
      = nav_entry t('views.notifications.tabs.commentsmile'), notifications_path('commentsmile')
      = nav_entry t('views.notifications.tabs.relationship'), notifications_path('relationship')
