- provide(:title, generate_title(t('.title')))

.text-center.mx-sm-5
  %h2= t(".heading")

  = t(".notice_html", app_name: APP_CONFIG["site_name"])

  %p
    %a.text-muted{ href: "https://canny.io/privacy" }= t(".privacy")

  %p
    = button_to t(".consent"), feedback_consent_update_path, class: "btn btn-primary", method: :post, params: { consent: true }

  %p= t(".alternative")
  %p
    %a.btn.btn-outline-primary{ href: "https://github.com/Retrospring/retrospring/issues" }= t(".issues")
