%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container{class: ios_web_app? ? "ios-web-app" : ''}
    .navbar-header
      %button.navbar-toggle{"data-target" => "#j2-main-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        - if user_signed_in?
          - unless inbox_count.nil? or notification_count.nil?
            %span.icon-bar.navbar--inbox-animation
            %span.icon-bar.navbar--inbox-animation
            %span.icon-bar.navbar--inbox-animation
          - else
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        - else
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.navbar-brand{href: "/"}= APP_CONFIG['site_name']
    #j2-main-navbar-collapse.collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          = nav_entry t('views.navigation.timeline'), root_path
          = nav_entry t('views.navigation.inbox'), "/inbox", badge: inbox_count
          = nav_entry t('views.navigation.discover'), discover_path
        %ul.nav.navbar-nav.navbar-right
          - unless @user.nil?
            - unless @user == current_user
              %li.hidden-xs{"data-toggle" => "tooltip", "data-placement" => "bottom", title: t('views.actions.group')}
                %a{href: '#', data: { target: "#modal-group-memberships", toggle: :modal }}
                  %i.fa.fa-users.hidden-xs
                  %span.visible-xs= t('views.actions.group')
          = render "layouts/notifications"
          %li.hidden-xs{"data-toggle" => "tooltip", "data-placement" => "bottom", title: t('views.actions.ask_question')}
            .btn.btn-link.navbar-btn{name: "toggle-all-ask", "data-target" => "#modal-ask-followers", "data-toggle" => "modal", :type => "button"}
              %i.fa.fa-pencil-square-o
          = render "layouts/profile"
      - else
        %ul.nav.navbar-nav.navbar-right
          = nav_entry t('views.sessions.create'), new_user_session_path
          = nav_entry t('views.sessions.new'), new_user_registration_path

- if user_signed_in?
  = render 'shared/modal_ask_followers'
  %button.btn.btn-primary.btn-fab.visible-xs{"data-target" => "#modal-ask-followers", "data-toggle" => "modal", :type => "button"}
    %i.fa.fa-pencil-square-o
