%nav.ui.fixed.inverted.main.menu
  %h3.header.item justask
  = nav_entry "Home", "/", icon: "home"
  - if user_signed_in?
    = nav_entry "Inbox", "/inbox", icon: "inbox", label: "2"
  - else
    = nav_entry "About", "/about", icon: ""
  .right.menu
    - if user_signed_in?
      .ui.dropdown.item
        = current_user.screen_name
        = semantic_icon "dropdown"
        .menu
          = link_to "Profile", edit_user_registration_path, class: "item"
          = link_to "Settings", "#", class: "item"
          = link_to "Logout",  destroy_user_session_path, method: :delete, class: "item"
    - else
      = nav_entry "Sign in", new_user_session_path #, "right floated text"
      = nav_entry "Sign up", new_user_registration_path #, "right floated text"