!!! 5
%html
  %head
    %title= APP_CONFIG['site_name']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
    - if Rails.env.development?
      %hr
      .container
        %p.text-danger Debug params:
        = debug params
