!!! 5
%html
  %head
    %meta{content: '#0C84E4', name: 'theme-color'}
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible' ,content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= APP_CONFIG['site_name']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
    - if Rails.env.development?
      %hr
      .container
        %p.text-danger Debug params:
        = debug params
