!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }
    %meta{ name: 'theme-color', content: '#5e35b1' }
    %link{ rel: 'apple-touch-icon', href: '/apple-touch-icon-precomposed.png' }
    %link{ rel: 'icon', href: '/images/favicon/favicon-16.png', sizes: '16x16' }
    %link{ rel: 'icon', href: '/icon-152.png', sizes: '152x152' }
    %link{ rel: 'icon', href: '/images/favicon/favicon-32.png', sizes: '32x32' }
    %title= yield(:title)
    = javascript_include_tag 'i18n', data: { 'turbolinks-track': true }
    = stylesheet_link_tag    'application', media: 'all', data: { 'turbolinks-track': true }
    = javascript_pack_tag 'legacy/application', data: { 'turbolinks-track': true }
    - if user_signed_in? && current_user.mod?
      = javascript_pack_tag 'legacy/moderation/index', data: { 'turbolinks-track': true }
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = render 'navigation/main'
    - else
      = render 'navigation/guest'
    = render 'shared/announcements'
    = yield
    = render 'shared/locales'
    - if Rails.env.development?
      #debug
        %hr
        .container
          %p
            Current branch:
            %code= `git rev-parse --abbrev-ref HEAD`
            (commit
            = succeed ')' do
              = `git rev-parse --short HEAD`.strip
          %p.text-danger Debug params:
          = debug params
    = render_theme
