!!! 5
%html{ lang: I18n.locale, prefix: 'og: https://ogp.me/ns#' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover' }
    - if user_signed_in?
      %meta{ name: 'theme-color', content: theme_color, media: '(min-width: 993px)' }
      %meta{ name: 'theme-color', content: mobile_theme_color, media: '(max-width: 992px)' }
    - else
      %meta{ name: 'theme-color', content: theme_color }
    - if @user&.privacy_noindex? || @answer&.user&.privacy_noindex? || @question&.user&.privacy_noindex?
      %meta{ name: 'robots', content: 'noindex' }
    %link{ rel: 'manifest', href: '/manifest.json', crossorigin: 'use-credentials' }
    %link{ rel: 'apple-touch-icon', href: '/icons/maskable_icon_x192.png' }
    %link{ rel: 'mask-icon', href: '/icons/icon.svg', color: theme_color }
    %link{ rel: 'icon', href: '/images/favicon/favicon-16.png', sizes: '16x16' }
    %link{ rel: 'icon', href: '/icons/maskable_icon_x192.png', sizes: '192x192' }
    %link{ rel: 'icon', href: '/images/favicon/favicon-32.png', sizes: '32x32' }
    %title= yield(:title)
    = stylesheet_link_tag "application", data: { 'turbo-track': "reload" }, media: "all"
    = javascript_include_tag 'application', data: { 'turbo-track': 'reload' }, defer: true
    = csrf_meta_tags
    = yield(:og)
    = yield(:meta)
  %body{ class: user_signed_in? ? nil : 'not-logged-in', data: { controller: "capabilities" } }
    - if user_signed_in?
      = render 'navigation/main'
    - else
      = render 'navigation/guest'
    = render 'shared/announcements'
    = yield
    = render "shared/formatting"
    = render "shared/hotkeys"
    = turbo_frame_tag "modal"
    .d-none#toasts
    - if Rails.env.development?
      #debug
        %hr
        .container
          %p
            Current branch:
            %code= `git rev-parse --abbrev-ref HEAD`
            (commit
            = succeed ')' do
              = `git rev-parse --short HEAD`.strip
          %p.text-danger Debug params:
          = debug params
    = render_theme
