= render 'navigation/feed'
.container.j2-page
  .row
    .col-md-3.col-sm-4
      = render 'shared/sidebar'
    .col-md-9.col-xs-12.col-sm-8.j2-col-reset
      = render 'layouts/messages'
      = yield
  .visible-xs= render 'shared/links'