.container-lg.container--main
  .row
    .col-md-3.col-sm-4.d-none.d-sm-block
      = render 'shared/sidebar'
    .col-md-9.col-xs-12.col-sm-8
      = render 'layouts/messages'
      = render 'tabs/feed', list: @list
      = yield
  .d-block.d-sm-none= render 'shared/links'
