.container.j2-page
  .row
    .col-md-3.col-xs-12.col-sm-4.d-none.d-sm-block
      = render 'inbox/sidebar'
    .col-md-9.col-xs-12.col-sm-8
      = render 'layouts/messages'
      = yield

    .col-md-9.col-xs-12.col-sm-8.d-block.d-sm-none
      = render 'inbox/sidebar'

= render "shared/links"

- Inbox.where(id: @inbox.ids).update_all(new: false)
- provide(:title, generate_title("Inbox"))
- parent_layout "base"