!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible' ,content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    %meta{name: 'theme-color', content: '#5e35b1'}
    %meta{name: "mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: 'apple-mobile-web-app-status-bar-style', content: 'black-translucent'}
    %link{rel: 'apple-touch-icon', href: '/apple-touch-icon-precomposed.png'}
    %link{rel: 'icon', href: '/images/favicon/favicon-16.png', sizes: '16x16'}
    %link{rel: 'icon', href: '/icon-152.png', sizes: '152x152'}
    %link{rel: 'icon', href: '/images/favicon/favicon-32.png', sizes: '32x32'}
    %title= yield(:title)
    = javascript_include_tag 'i18n', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if user_signed_in?
      - if current_user.mod?
        = javascript_include_tag 'moderation', 'data-turbolinks-track' => true
    - if content_for? :head
      = yield :head
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container.j2-page
      = render 'user/settings_tabs'
      .col-md-9.col-xs-12.col-sm-9
        = render 'layouts/messages'
        .panel.panel-default
          .panel-body
            = yield
    .visible-xs= render "shared/links"
    - if Rails.env.development?
      %hr
      .container
        %p
          Current branch:
          %code= `git rev-parse --abbrev-ref HEAD`
          (commit
          = succeed ')' do
            = `git rev-parse --short HEAD`.strip
        %p.text-danger Debug params:
        = debug params

    - if Rails.env.production?
      %noscript
        %p
          %img{:alt => "", :src => "//stat.rrerr.net/piwik.php?idsite=9", :style => "border:0;"}/
